._8-tela-aba-de-carrinho,
._8-tela-aba-de-carrinho * {
  box-sizing: border-box;
}
._8-tela-aba-de-carrinho {
  background: #ffffff;
  height: 1317px;
  position: relative;
  overflow: hidden;
}
.background {
  background: #55a143;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 85px;
  height: 32px;
  position: relative;
}
.nome-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 113px;
  height: 17px;
}
.margin {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 576px;
  max-width: 576px;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 9999px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container5 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.o-que-voc-est-procurando {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.button {
  padding: 5px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 50%;
  translate: 0 -50%;
}
.container6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 22.21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 40px;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.header {
  background: #131313;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 77px;
}
.container9 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1870px;
  height: 40px;
  max-width: 1870px;
  position: relative;
}
.nav-944 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.g-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-1 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.principal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 8px;
  width: 67px;
}
.s-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-12 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.sobre-n-s {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 149px;
  top: 8px;
  width: 81px;
}
.selecionado-13 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 266px;
  top: 0px;
}
.suporte {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 292px;
  top: 8px;
  width: 62px;
}
.footer {
  background: #55a143;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1008px;
}
.container10 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container11 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.links-r-pidos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.principal2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.sobre-n-s2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.loja {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.suporte2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.colecion-veis {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.games {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.acess-rios {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.vestu-rio {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.redes-sociais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container14 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link3 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon5 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon6 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.horizontal-border {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container15 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-nerd-hub-todos-os-direitos-reservados {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.group-359 {
  position: absolute;
  inset: 0;
}
.rectangle-624 {
  background: #55a143;
  border-radius: 10px;
  width: 451px;
  height: 83px;
  position: absolute;
  left: 705px;
  top: 747px;
}
.ver-novidades {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 848px;
  top: 774px;
}
.seu-carrinho-t-vazio {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 680px;
  top: 593px;
}
.seu-carrinho-t-vazio-span {
  font-family: "Inter-Regular", sans-serif;
}
.seu-carrinho-t-vazio-span2 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.poxa-nenhuma-produto-no-seu-carrinho-o-site-t-cheio-de-novidades-pra-vc-para-conferir {
  color: #1c1c1c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 591px;
  top: 666px;
}
.vector {
  width: 11.5%;
  height: 16.32%;
  position: absolute;
  right: 44.65%;
  left: 43.85%;
  bottom: 42.37%;
  top: 41.31%;
  transform: translate(0px, -215px);
  overflow: visible;
}
