{% extends "nucleo/base.html" %}
{% load static %}

{% block title %}Sobre Nós - NerdHub{% endblock %}

{% block content %}
<div class="mainsobrenos">
  <div class="back-ground">
    <img class="fundo-da-pagina" src="{% static 'nucleo/img/fundo_da_pagina.png' %}" alt="Fundo da página" />
  </div>

  <div class="main-content">
    <div class="frame-296">
      <div class="nossa-historia">
        <div class="titulo">
          <div class="nossa-hist-ria">Nossa História</div>
        </div>
        <div class="informacoes">
          <div class="bem-vindo-nerd-hub-sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional-desde-nossa-funda-o-em-2024-temos-o-compromisso-de-oferecer-uma-experi-ncia-de-compra-nica-e-satisfat-ria-para-nossos-clientes">
            Bem-vindo à Nerd Hub, sua loja de confiança para produtos de alta
            qualidade e atendimento
            <br />
            excepcional. Desde nossa fundação em 2024, temos o compromisso de
            oferecer uma experiência de
            <br />
            compra única e satisfatória para nossos clientes.
          </div>
        </div>
      </div>

      <div class="nossa-missao">
        <div class="titulo">
          <div class="nossa-miss-o">Nossa Missão</div>
        </div>
        <div class="informacoes">
          <div class="na-nerd-hub-acreditamos-que-cada-cliente-especial-nossa-equipe-dedicada-trabalha-incansavelmente-para-selecionar-os-melhores-produtos-e-garantir-que-voc-encontre-exatamente-o-que-procura">
            Na Nerd Hub, acreditamos que cada cliente é especial. Nossa equipe
            dedicada trabalha
            <br />
            incansavelmente para selecionar os melhores produtos e garantir que
            você encontre exatamente o que
            <br />
            procura.
          </div>
        </div>
      </div>

      <div class="nossos-valores">
        <div class="titulo">
          <div class="nossos-valores2">Nossos Valores</div>
        </div>
        <div class="informacoes2">
          <div class="item">
            <div class="symbol">
              <ul class="symbol-span">
                <li></li>
              </ul>
            </div>
            <div class="transpar-ncia-em-todas-as-nossas-a-es">
              Transparência em todas as nossas ações
            </div>
          </div>
          <div class="item">
            <div class="symbol">
              <ul class="symbol-span">
                <li></li>
              </ul>
            </div>
            <div class="honestidade-no-relacionamento-com-clientes">
              Honestidade no relacionamento com clientes
            </div>
          </div>
          <div class="item">
            <div class="symbol">
              <ul class="symbol-span">
                <li></li>
              </ul>
            </div>
            <div class="excel-ncia-em-produtos-e-servi-os">
              Excelência em produtos e serviços
            </div>
          </div>
          <div class="item">
            <div class="symbol">
              <ul class="symbol-span">
                <li></li>
              </ul>
            </div>
            <div class="atendimento-personalizado-e-atencioso">
              Atendimento personalizado e atencioso
            </div>
          </div>
        </div>
      </div>

      <div class="nossa-visao">
        <div class="titulo">
          <div class="nossa-vis-o">Nossa Visão</div>
        </div>
        <div class="informacoes">
          <div class="nosso-objetivo-ser-mais-do-que-apenas-uma-loja-queremos-ser-um-parceiro-em-suas-compras-oferecendo-suporte-e-atendimento-personalizado-explore-nossa-ampla-gama-de-produtos-e-descubra-por-que-a-nerd-hub-a-escolha-certa-para-voc">
            Nosso objetivo é ser mais do que apenas uma loja; queremos ser um
            parceiro em suas compras,
            <br />
            oferecendo suporte e atendimento personalizado. Explore nossa ampla
            gama de produtos e descubra
            <br />
            por que a Nerd Hub é a escolha certa para você.
          </div>
        </div>
      </div>

      <div class="nossa-equipe">
        <div class="titulo">
          <div class="nossa-equipe2">Nossa Equipe</div>
        </div>
        <div class="informacoes">
          <div class="contamos-com-profissionais-apaixonados-pelo-universo-nerd-e-geek-sempre-prontos-para-ajudar-e-compartilhar-conhecimento-nossa-equipe-formada-por-entusiastas-que-entendem-suas-necessidades-e-prefer-ncias">
            Contamos com profissionais apaixonados pelo universo nerd e geek,
            sempre prontos para ajudar e
            <br />
            compartilhar conhecimento. Nossa equipe é formada por entusiastas
            que entendem suas necessidades
            <br />
            e preferências.
          </div>
        </div>
      </div>

      <div class="entre-em-contato">
        <div class="titulo">
          <div class="entre-em-contato2">Entre em Contato</div>
        </div>
        <div class="informacoes3">
          <div class="container">
            <div class="margin">
              <div class="overlay">
                <div class="container2">
                  <div class="container3">
                    <i class="fas fa-phone icon"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="container2">
              <div class="_61-99306-5580">(61) 99306-5580</div>
            </div>
          </div>
          <div class="container">
            <div class="margin">
              <div class="overlay">
                <div class="container2">
                  <div class="container3">
                    <i class="fas fa-envelope icon2"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="container2">
              <div class="atendimento-nerdhub-com-br">
                atendimento@nerdhub.com.br
              </div>
            </div>
          </div>
          <div class="container">
            <div class="margin">
              <div class="overlay">
                <div class="container2">
                  <div class="container3">
                    <i class="fas fa-clock icon3"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="container2">
              <div class="seg-a-sex-das-09-h-s-17-h">
                Seg. a Sex. das 09h às 17h
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quem-somos">Quem Somos</div>
      <div class="linha-separadora"></div>
    </div>
  </div>
</div>
{% endblock %}