._1-principal,
._1-principal * {
  box-sizing: border-box;
}
._1-principal {
  background: #ffffff;
  border-radius: 1px;
  height: 3863px;
  position: relative;
  overflow: hidden;
}
.footer-f {
  background: #164c3c;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: -5px;
  top: 3562px;
}
.container {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.links-r-pidos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.principal {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.sobre-n-s {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.loja {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.suporte {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.colecion-veis {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.games {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.acess-rios {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.vestu-rio {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.redes-sociais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 40px;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon3 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.horizontal-border {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-nerd-hub-todos-os-direitos-reservados {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.body-f {
  background: #454545;
  width: 1870px;
  height: 3414px;
  position: absolute;
  left: -3px;
  top: 148px;
  overflow: hidden;
}
.navegue-por-marca-f {
  background: #454545;
  width: 1870px;
  height: 384px;
  position: absolute;
  left: 0px;
  top: 1050px;
  overflow: hidden;
}
.imagem-carrossel-marvel {
  border-radius: 40px;
  width: 334px;
  height: 176px;
  position: absolute;
  left: 389px;
  top: 181px;
  object-fit: cover;
}
.imagem-carrossel-star-wars {
  border-radius: 40px;
  width: 333px;
  height: 176px;
  position: absolute;
  left: 763px;
  top: 181px;
  object-fit: cover;
}
.imagem-carrossel-playstation {
  border-radius: 40px;
  width: 334px;
  height: 176px;
  position: absolute;
  left: 1136px;
  top: 181px;
  object-fit: cover;
}
.imagem-carrossel-xbox {
  border-radius: 40px;
  width: 333px;
  height: 176px;
  position: absolute;
  left: 1510px;
  top: 181px;
  object-fit: cover;
}
.imagem-carrossel-disney {
  border-radius: 40px;
  width: 333px;
  height: 176px;
  position: absolute;
  left: 28px;
  top: 181px;
  object-fit: cover;
}
.navegue-por-marca-famosas {
  color: #164c3c;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 750px;
  top: 124px;
  width: 370px;
  height: 25px;
}
.rectangle-225 {
  background: #2c2c2c;
  width: 1870px;
  height: 92px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.em-at-12-x-sem-juros {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 409px;
  top: 38px;
  width: 211px;
  height: 29px;
}
.icone-cart-o {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 359px;
  top: 24px;
  object-fit: cover;
}
.frete-gr-tis {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 957px;
  top: 40px;
  width: 107px;
  height: 29px;
}
.icone-caixa {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 905px;
  top: 27px;
  object-fit: cover;
}
.entrega-r-pida {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 720px;
  top: 38px;
  width: 138px;
  height: 29px;
}
.icone-entrega {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 670px;
  top: 24px;
  object-fit: cover;
}
.selecione-o-pix-e-ganhe-5-de-desconto {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1167px;
  top: 38px;
  width: 355px;
  height: 29px;
}
.icone-pix {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 1115px;
  top: 27px;
  object-fit: cover;
}
.produto-marvel {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 86px;
  top: 2933px;
}
.rectangle-55 {
  background: #ffffff;
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.almofada-porta-pipoca-punisher {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-76-42 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.almofada-porta-pipoca-punisher-333-1-b-4-cb-5-f-3-ec-5-daadc-1-d-5-f-2-e-753736539-d-9 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 16px;
  top: 17px;
  object-fit: cover;
}
.group-294 {
  position: absolute;
  inset: 0;
}
.ellipse-18 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 261px;
  top: 17px;
  overflow: visible;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 267.5px;
  top: 23.5px;
}
.icon4 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.group-304 {
  position: absolute;
  inset: 0;
}
.marvel {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 18px;
  top: 17px;
  object-fit: cover;
}
.produto-disney {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 438px;
  top: 2933px;
}
.lego-disney-walt-disney-tribute-camera-43230-disney {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-875-00 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-305 {
  position: absolute;
  inset: 0;
}
.rectangle-389 {
  background: #ffffff;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 18px;
  top: 8px;
}
.group-22 {
  width: 214px;
  height: 221px;
  position: static;
}
.p-roduto-3-disney-1 {
  width: 214px;
  height: 221px;
  position: absolute;
  left: 50px;
  top: 33px;
  object-fit: cover;
}
.disney {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 8px;
  object-fit: cover;
}
.ellipse-182 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 259px;
  top: 8px;
  overflow: visible;
}
.container10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 265.5px;
  top: 14.5px;
}
.icon5 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-xbox {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1142px;
  top: 2933px;
}
.lego-minecraft-a-aventura-no-p-ntano-21240 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-1-349-99 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-300 {
  position: absolute;
  inset: 0;
}
.group-62 {
  width: 280px;
  height: 280px;
  position: static;
}
.group-190 {
  width: 280px;
  height: 280px;
  position: static;
}
.rectangle-330 {
  background: #ffffff;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 22px;
  top: 17px;
}
._81-oy-iod-nht-l-ac-sx-679-1 {
  width: 210px;
  height: 211px;
  position: absolute;
  left: 58px;
  top: 54px;
  object-fit: cover;
}
.xbox {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 22px;
  top: 18px;
  object-fit: cover;
}
.group-296 {
  position: absolute;
  inset: 0;
}
.ellipse-17 {
  background: #529742;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 268px;
  top: 19px;
}
.container11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 275px;
  top: 26px;
}
.icon6 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-marvel2 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 790px;
  top: 2933px;
}
.lumin-ria-abajur-martelo-thor-marvel-asgard-led {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-180-90 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-303 {
  position: absolute;
  inset: 0;
}
.luminaria-abajur-martelo-thor-marvel-asgard-led-8910-1-1-c-9-a-3-cc-10-f-22739-e-342-cbf-9-ef-0-e-6-c-507 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 14px;
  top: 17px;
  object-fit: cover;
}
.marvel2 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 17px;
  top: 17px;
  object-fit: cover;
}
.group-295 {
  position: absolute;
  inset: 0;
}
.ellipse-183 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 259px;
  top: 17px;
  overflow: visible;
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 265.5px;
  top: 23.5px;
}
.icon7 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-xbox2 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1494px;
  top: 2933px;
}
.forza-para-xbox-series-x {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-179-00 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-306 {
  position: absolute;
  inset: 0;
}
.group-302 {
  width: 280px;
  height: 280px;
  position: static;
}
.group-301 {
  width: 280px;
  height: 280px;
  position: static;
}
.rectangle-372 {
  background: #ffffff;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 14px;
  top: 16px;
}
.xbox2 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 14px;
  top: 16px;
  object-fit: cover;
}
.group-108 {
  width: 149px;
  height: 193px;
  position: static;
}
._81-q-p-37-gqsel-ac-sx-679-1 {
  width: 149px;
  height: 193px;
  position: absolute;
  left: 76px;
  top: 59px;
  object-fit: cover;
}
.group-297 {
  width: 35px;
  height: 35px;
  position: static;
}
.ellipse-172 {
  background: #529742;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 259px;
  top: 17px;
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 266px;
  top: 24px;
}
.icon8 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-playstation {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 816px;
  top: 2447px;
}
.play-station-dual-sense-controle-sem-fio-branco {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-399-49 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-150 {
  width: 280px;
  height: 277px;
  position: static;
}
.rectangle-366 {
  background: #ffffff;
  width: 280px;
  height: 277px;
  position: absolute;
  left: 17px;
  top: 11px;
}
._51-pme-lg-ek-ml-ac-sx-679-1 {
  width: 202px;
  height: 140.48px;
  position: absolute;
  left: 56px;
  top: 89px;
  object-fit: cover;
}
.play-station {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 14px;
  top: 11px;
  object-fit: cover;
}
.produto-playstation2 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1165px;
  top: 2447px;
}
.god-of-war-ragnar-k-edi-o-standard-play-station {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-259-00 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-292 {
  position: absolute;
  inset: 0;
}
.rectangle-321 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 8px;
  overflow: visible;
}
.group-140 {
  width: 172.63px;
  height: 221.05px;
  position: static;
}
.group-102 {
  width: 172.63px;
  height: 221.05px;
  position: static;
}
.group-99 {
  width: 172.63px;
  height: 221.05px;
  position: static;
}
.group-100 {
  width: 172.63px;
  height: 221.05px;
  position: static;
}
._819-bw-whnmjl-ac-sx-679-1 {
  width: 172.63px;
  height: 221.05px;
  position: absolute;
  left: 68px;
  top: 44px;
  object-fit: cover;
}
.play-station2 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 17px;
  top: 8px;
  object-fit: cover;
}
.ellipse-184 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 267px;
  top: 9px;
  overflow: visible;
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 273.5px;
  top: 15.5px;
}
.icon9 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-playstation3 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1488px;
  top: 2449px;
}
.console-play-station-5-pro {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-6-509-00 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-158 {
  position: absolute;
  inset: 0;
}
.group-298 {
  width: 280px;
  height: 250px;
  position: static;
}
.rectangle-355 {
  background: #ffffff;
  width: 280px;
  height: 250px;
  position: absolute;
  left: 17px;
  top: 31px;
}
.group-73 {
  width: 186px;
  height: 210px;
  position: static;
}
._51-dfg-52-k-c-l-ac-sy-300-sx-300-ql-70-ml-2-1 {
  width: 186px;
  height: 210px;
  position: absolute;
  left: 61px;
  top: 51px;
  object-fit: cover;
}
.play-station3 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 18px;
  top: 15px;
  object-fit: cover;
}
.group-2982 {
  position: absolute;
  inset: 0;
}
.ellipse-173 {
  background: #529742;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 263px;
  top: 16px;
}
.container15 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 270px;
  top: 23px;
}
.icon10 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-marvel3 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 92px;
  top: 1475px;
}
.ellipse-185 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 261px;
  top: 17px;
  overflow: visible;
}
.icon11 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icone-marvel {
  position: absolute;
  inset: 0;
}
.produto-disney2 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 444px;
  top: 1475px;
}
.icone-marvel2 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 8px;
  object-fit: cover;
}
.ellipse-186 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 259px;
  top: 8px;
  overflow: visible;
}
.icon12 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-xbox3 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1148px;
  top: 1475px;
}
.icone-xbox {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 22px;
  top: 18px;
  object-fit: cover;
}
.icon13 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-marvel4 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 796px;
  top: 1475px;
}
.icone-marvel3 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 17px;
  top: 17px;
  object-fit: cover;
}
.ellipse-187 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 259px;
  top: 17px;
  overflow: visible;
}
.icon14 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-xbox4 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1500px;
  top: 1475px;
}
.imagem-produto {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 11px;
  top: 17px;
  object-fit: cover;
}
.icone-de-adicionar-no-carrinho {
  position: absolute;
  inset: 0;
}
.icone-de-adicionar-no-carrinho2 {
  width: 35px;
  height: 35px;
  position: static;
}
.icon15 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-playstation4 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 92px;
  top: 1962px;
}
.icone-play-station {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 14px;
  top: 11px;
  object-fit: cover;
}
.produto-playstation5 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 441px;
  top: 1962px;
}
.rectangle-3212 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 8px;
  overflow: visible;
}
.icone-play-station2 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 17px;
  top: 8px;
  object-fit: cover;
}
.ellipse-188 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 267px;
  top: 9px;
  overflow: visible;
}
.icon16 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-playstation6 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 790px;
  top: 1964px;
}
.icone-play-station3 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 18px;
  top: 15px;
  object-fit: cover;
}
.icon17 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-playstation7 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1147px;
  top: 1964px;
}
.play-station-portal-reprodutor-remoto {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-1-349-90 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-139 {
  height: auto;
  position: absolute;
  left: 14px;
  top: 16px;
  overflow: visible;
}
.icone-play-station4 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 14px;
  top: 16px;
  object-fit: cover;
}
.icon18 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-playstaion {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1501px;
  top: 1965px;
}
.astro-bot-ps-5 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-269-93 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.imagem-produto2 {
  position: absolute;
  inset: 0;
}
.group-157 {
  width: 280px;
  height: 280px;
  position: static;
}
.rectangle-373 {
  background: #ffffff;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 14px;
  top: 14px;
}
.group-103 {
  width: 164px;
  height: 209px;
  position: static;
}
._81-snw-iy-j-di-l-ac-sx-679-1 {
  width: 164px;
  height: 209px;
  position: absolute;
  left: 72px;
  top: 49px;
  object-fit: cover;
}
.icone-play-station5 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 14px;
  top: 7px;
  object-fit: cover;
}
.ellipse-189 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 259px;
  top: 8px;
  overflow: visible;
}
.icon19 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.produto-xbox5 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 444px;
  top: 2449px;
}
.funko-pop-games-minecraft-creeper-320-exclusivo-glow {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-1-259-91 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.ellipse-1810 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 259px;
  top: 17px;
  overflow: visible;
}
.icon20 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.imagem-produto3 {
  width: 205px;
  height: 212px;
  position: absolute;
  left: 51px;
  top: 61px;
  object-fit: cover;
  aspect-ratio: 205/212;
}
.icone-xbox2 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 17px;
  top: 17px;
  object-fit: cover;
}
.produto-xbox6 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 92px;
  top: 2449px;
}
.funko-pop-minecraft-alex-in-diamond-armor-323-exclusivo {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.ellipse-1811 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 259px;
  top: 17px;
  overflow: visible;
}
.icon21 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.captura-de-tela-2025-11-26-143624-2 {
  width: 175px;
  height: 211px;
  position: absolute;
  left: 69px;
  top: 70px;
  object-fit: cover;
  aspect-ratio: 175/211;
}
.banner-principal-f {
  background: #ffffff;
  width: 5602px;
  height: 1050px;
  position: absolute;
  left: 0px;
  top: 148px;
  overflow: hidden;
}
.banner-funko-pop {
  width: 1870px;
  height: 1050px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.banner-lego {
  width: 1866px;
  height: 1051px;
  position: absolute;
  left: 1870px;
  top: 0px;
  object-fit: cover;
}
.banner-playstation {
  width: 1866px;
  height: 1051px;
  position: absolute;
  left: 3736px;
  top: 0px;
  object-fit: cover;
}
.header-f {
  background: #ffffff;
  width: 1870px;
  height: 148px;
  position: absolute;
  left: -5px;
  top: 0px;
  overflow: hidden;
}
.rectangle-673 {
  background: #131313;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 74px;
}
.rectangle-674 {
  background: #164c3c;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.principal2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 804px;
  top: 99px;
}
.sobre-n-s2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 931px;
  top: 99px;
}
.suporte2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 1073px;
  top: 99px;
}
.vector {
  width: 0.98%;
  height: 12.56%;
  position: absolute;
  right: 5.92%;
  left: 93.1%;
  bottom: 55.97%;
  top: 31.48%;
  transform: translate(0px, -18.58px);
  overflow: visible;
}
.vector2 {
  width: 0.75%;
  height: 12.42%;
  position: absolute;
  right: 2.62%;
  left: 96.63%;
  bottom: 56.25%;
  top: 31.33%;
  transform: translate(0px, -18.38px);
  overflow: visible;
}
.nome-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 41px;
  top: 28px;
  width: 113px;
  height: 17px;
}
.group-394 {
  position: absolute;
  inset: 0;
}
.rectangle-675 {
  background: #ffffff;
  border-radius: 40px;
  width: 576px;
  height: 42px;
  position: absolute;
  left: 671px;
  top: 16px;
}
.o-que-voc-est-procurando {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 692px;
  top: 27px;
}
