/* Figma Styles of your File */
:root {
  /* Colors */
  --applecom-athens-gray: #f5f5f7;
  --applecom-azure-radiance: #2755c4;
  --applecom-black: #000000;
  --applecom-black-0: rgba(0, 0, 0, 0);
  --applecom-black-40: rgba(0, 0, 0, 0.4);
  --applecom-black-72: rgba(0, 0, 0, 0.72);
  --applecom-black-80: rgba(0, 0, 0, 0.8);
  --applecom-cerulean-blue: #2755c4;
  --applecom-french-gray: #c8c8ce;
  --applecom-mine-shaft: #262626;
  --applecom-mischka: #d2d2d7;
  --applecom-science-blue: #0071e3;
  --applecom-science-blue: #0066cc;
  --applecom-shark: #272729;
  --applecom-shark: #1d1d1f;
  --applecom-white: #ffffff;

  /* Fonts */
  --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
  --applecom-inter-regular-font-size: 11.800000190734863px;
  --applecom-inter-regular-line-height: 16px;
  --applecom-inter-regular-font-weight: 400;
  --applecom-inter-regular-font-style: normal;
  --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
  --applecom-inter-regular-font-size: 13.800000190734863px;
  --applecom-inter-regular-line-height: 20px;
  --applecom-inter-regular-font-weight: 400;
  --applecom-inter-regular-font-style: normal;
  --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
  --applecom-inter-regular-font-size: 13.899999618530273px;
  --applecom-inter-regular-line-height: 20px;
  --applecom-inter-regular-font-weight: 400;
  --applecom-inter-regular-font-style: normal;
  --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
  --applecom-inter-regular-font-size: 13.899999618530273px;
  --applecom-inter-regular-line-height: 18px;
  --applecom-inter-regular-font-weight: 400;
  --applecom-inter-regular-font-style: normal;
  --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
  --applecom-inter-regular-font-size: 16.700000762939453px;
  --applecom-inter-regular-line-height: 20px;
  --applecom-inter-regular-font-weight: 400;
  --applecom-inter-regular-font-style: normal;
  --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
  --applecom-inter-regular-font-size: 16.899999618530273px;
  --applecom-inter-regular-line-height: 20px;
  --applecom-inter-regular-font-weight: 400;
  --applecom-inter-regular-font-style: normal;
  --applecom-inter-regular-underline-font-family: Inter-Regular, sans-serif;
  --applecom-inter-regular-underline-font-size: 11.800000190734863px;
  --applecom-inter-regular-underline-line-height: 16px;
  --applecom-inter-regular-underline-font-weight: 400;
  --applecom-inter-regular-underline-font-style: normal;
  --applecom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --applecom-inter-semi-bold-font-size: 14px;
  --applecom-inter-semi-bold-line-height: 18px;
  --applecom-inter-semi-bold-font-weight: 600;
  --applecom-inter-semi-bold-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
[data-applecom-mode="mode-1"] {
  /* mode-1 */
  --color-azure-46: #2755c4;
  --color-white-solid: #ffffff;
  --color-azure-45: #0071e3;
  --color-azure-40: #0066cc;
  --color-grey-16: #272729;
  --color-black-0: rgba(0, 0, 0, 0);
  --color-grey-12: #1d1d1f;
  --color-black-solid: #000000;
  --color-grey-96: #f5f5f7;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-black-72: rgba(0, 0, 0, 0.72);
  --color-grey-15: #262626;
  --color-black-40: rgba(0, 0, 0, 0.4);
  --color-red-8: #191312;
  --color-grey-12-50: rgba(29, 29, 31, 0.5);
  --color-grey-12-0: rgba(29, 29, 31, 0);
  --color-blue-89: #cdd3f7;
  --color-grey-97: #f4f8fb;
  --color-grey-80: #c8c8ce;
  --color-grey-83: #d2d2d7;
}
