.wireframe-pagina-principal,
.wireframe-pagina-principal * {
  box-sizing: border-box;
}
.wireframe-pagina-principal {
  background: #dfdede;
  height: 3097px;
  position: relative;
  overflow: hidden;
}
.marvel {
  width: 1870px;
  height: 585px;
  position: absolute;
  left: 0px;
  top: 151px;
  object-fit: cover;
}
.rectangle-228 {
  background: #2c2c2c;
  width: 1870px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 736px;
}
.em-at-12-x-sem-juros {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 762px;
  width: 211px;
  height: 29px;
}
.entrega-r-pida {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 725px;
  top: 762px;
  width: 138px;
  height: 29px;
}
.frete-gr-tis {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 962px;
  top: 764px;
  width: 107px;
  height: 29px;
}
.selecione-o-pix-e-ganhe-5-de-desconto {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1172px;
  top: 762px;
  width: 355px;
  height: 29px;
}
.magnetic-card {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 364px;
  top: 748px;
  object-fit: cover;
}
.open-parcel {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 910px;
  top: 751px;
  object-fit: cover;
}
.in-transit {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 675px;
  top: 748px;
  object-fit: cover;
}
.pix {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 1120px;
  top: 751px;
  object-fit: cover;
}
.background {
  background: #55a143;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 85px;
  height: 32px;
  position: relative;
}
.nome-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 113px;
  height: 17px;
}
.margin {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 576px;
  max-width: 576px;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 9999px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container5 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.o-que-voc-est-procurando {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.button {
  padding: 5px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 50%;
  translate: 0 -50%;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 22.21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.container8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 40px;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.header {
  background: #131313;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 77px;
}
.container10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1870px;
  height: 40px;
  max-width: 1870px;
  position: relative;
}
.nav-944 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.g-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-1 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.principal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 8px;
  width: 67px;
}
.s-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-12 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.sobre-n-s {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 149px;
  top: 8px;
  width: 81px;
}
.selecionado-13 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 266px;
  top: 0px;
}
.suporte {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 292px;
  top: 8px;
  width: 62px;
}
.frame-273 {
  border-radius: 2px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 74px;
  top: 843px;
}
.rectangle-55 {
  background: #ffffff;
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.pop-captain-america-sam-wilson-flying {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-179-99 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
._1408873-800-auto {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  object-fit: cover;
}
.group-298 {
  position: absolute;
  inset: 0;
}
.ellipse-17 {
  background: #529742;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 262px;
  top: 18px;
}
.container11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 269px;
  top: 25px;
}
.icon4 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.marvel2 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 18px;
  top: 18px;
  object-fit: cover;
}
.frame-272 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 426px;
  top: 843px;
}
.funko-pop-marvel-spider-man-miles-morales-advanced-tech-suit-772 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-159-90 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-134 {
  height: auto;
  position: absolute;
  left: 17px;
  top: 18px;
  overflow: visible;
}
.icon5 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-271 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 778px;
  top: 843px;
}
.funko-pop-wanda-maximoff-855 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-149-90 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.funko-pop-wanda-maximoff-855-8555-1-a-2-e-999458945-cae-81-b-93-e-1-bd-3-c-8-b-9-ee-4 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  object-fit: cover;
}
.icon6 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-270 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1130px;
  top: 843px;
}
.pop-halo-infinite-master-chief-vinyl-figure {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-179-00 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.loja-life-geek-pop-funko-avengers-mech-capit-marvel-831-jc-7-eno-8-c-2-o {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  overflow: visible;
  object-fit: cover;
}
.icon7 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-269 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1482px;
  top: 843px;
}
.funko-pop-what-if-doutor-estranho-supremo-874 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-139-90 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.funko-pop-doutor-estranho-supremo-874-8557-1-6-dd-45046-f-5235-f-7-c-92-e-1-ba-741-f-0-ea-242 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  object-fit: cover;
}
.icon8 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-274 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1130px;
  top: 1333px;
}
.boneco-funko-pop-u-s-agent-marvel-815-agente-americano {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-109-90 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
._71-fq-3-vnsu-ol {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  object-fit: cover;
}
.icon9 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-268 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 74px;
  top: 1333px;
}
._20-off {
  color: #ffffff;
  text-align: left;
  font-family: "Lalezar-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 131px;
  top: 273px;
  width: 52px;
  height: 15px;
}
.lego-marvel-ataque-a-reo-dos-eternos-76145 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.play-station {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 17px;
  top: 17px;
  object-fit: cover;
}
.images {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 17px;
  overflow: visible;
  object-fit: cover;
}
.marvel3 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 17px;
  top: 17px;
  object-fit: cover;
}
.icon10 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-267 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 426px;
  top: 1333px;
}
.lego-marvel-avengers-tower-76269-com-31-figuras-e-acess-rios {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-12-952-70 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.captura-de-tela-2025-04-22-173745-1 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 18px;
  top: 17px;
  object-fit: cover;
  aspect-ratio: 1;
}
.icon11 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.marvel4 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 18px;
  top: 17px;
  object-fit: cover;
}
.frame-266 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 778px;
  top: 1333px;
}
.lego-marvel-super-heroes-76178-daily-bugle {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-3-519-99 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-328 {
  position: absolute;
  inset: 0;
}
.group-223 {
  width: 280px;
  height: 280px;
  position: static;
}
.rectangle-427 {
  background: #ffffff;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
}
.captura-de-tela-2025-04-22-173638-1 {
  width: 222px;
  height: 280px;
  position: absolute;
  left: 46px;
  top: 18px;
  object-fit: cover;
  aspect-ratio: 222/280;
}
.icon12 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-261 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1482px;
  top: 1333px;
}
.deadpool-2-action-figure-marvel-com-acess-rios-16-cm {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-82-90 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.d-nq-np-921069-mlu-77901686692-082024-o {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 17px;
  object-fit: cover;
}
.icon13 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.footer {
  background: #55a143;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 2788px;
}
.container12 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container13 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container15 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.links-r-pidos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.principal2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.sobre-n-s2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.loja {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.suporte2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.colecion-veis {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.games {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.acess-rios {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.vestu-rio {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.redes-sociais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container16 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link3 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon14 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon15 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon16 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.horizontal-border {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-nerd-hub-todos-os-direitos-reservados {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-280 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 74px;
  top: 2284px;
}
.images2 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 17px;
  overflow: visible;
  object-fit: cover;
}
.icon17 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-281 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 426px;
  top: 2284px;
}
.icon18 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-265 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 426px;
  top: 1794px;
}
.spider-man-figure-spider-verse-miles-morales {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-219-90 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.group-227 {
  position: absolute;
  inset: 0;
}
.rectangle-430 {
  background: #ffffff;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
}
._610-gsl-y-5-g-el-ac-sx-425-1 {
  width: 231px;
  height: 217px;
  position: absolute;
  left: 41px;
  top: 49px;
  object-fit: cover;
  aspect-ratio: 231/217;
}
.marvel5 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 17px;
  top: 18px;
  object-fit: cover;
}
.icon19 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-282 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 778px;
  top: 2284px;
}
.icon20 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-260 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 778px;
  top: 1794px;
}
.garrafa-t-rmica-urban-ebook-marvel-comics {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.mockup {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  overflow: visible;
  object-fit: cover;
}
.icon21 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-283 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1130px;
  top: 2284px;
}
.icon22 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-259 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1130px;
  top: 1794px;
}
.r-180-90 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.luminaria-abajur-martelo-thor-marvel-asgard-led-8910-1-1-c-9-a-3-cc-10-f-22739-e-342-cbf-9-ef-0-e-6-c-507 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  object-fit: cover;
}
.icon23 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.lumin-ria-abajur-martelo-thor-marvel-asgard-led {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 15px;
  top: 298px;
  width: 274px;
  height: 34px;
}
.frame-284 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1482px;
  top: 2284px;
}
.icon24 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-264 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 74px;
  top: 1794px;
}
.capit-o-am-rica-figure-vingadores-guerra-infinita {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 303px;
  width: 274px;
  height: 34px;
}
.r-262-24 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18px;
  top: 360px;
  width: 136px;
}
.rectangle-429 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  overflow: visible;
}
.estatua-capitao-america-avengers-infinity-war-vingadores-guerra-infinita-escala-1-6-crazy-toys-actio-72572-1-b-3-bd-30-daa-15-b-4-ec-6-efe-6-a-7-ab-7754-e-8-b-9-1 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  object-fit: cover;
  aspect-ratio: 1;
}
.icon25 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.frame-262 {
  border-radius: 12px;
  width: 314px;
  height: 411px;
  position: absolute;
  left: 1482px;
  top: 1794px;
}
.pantufa-homem-aranha-chinelo-de-quarto-8281-3-d-6931-f-4-de-622-df-3763409-b-9843-b-33688 {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 17px;
  top: 18px;
  object-fit: cover;
}
.icon26 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.pantufa-homem-aranha-chinelo-de-quarto {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 17px;
  top: 298px;
  width: 274px;
  height: 34px;
}
