._8-tela-aba-de-carrinho,
._8-tela-aba-de-carrinho * {
  box-sizing: border-box;
}
._8-tela-aba-de-carrinho {
  background: #dfdede;
  height: 1317px;
  position: relative;
  overflow: hidden;
}
.background {
  background: #55a143;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 85px;
  height: 32px;
  position: relative;
}
.nome-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 113px;
  height: 17px;
}
.margin {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 576px;
  max-width: 576px;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 9999px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container5 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.o-que-voc-est-procurando {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.button {
  padding: 5px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 50%;
  translate: 0 -50%;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 22.21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.container8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 40px;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.header {
  background: #131313;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 77px;
}
.container10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1870px;
  height: 40px;
  max-width: 1870px;
  position: relative;
}
.nav-944 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.g-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-1 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.principal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 8px;
  width: 67px;
}
.s-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-12 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.sobre-n-s {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 149px;
  top: 8px;
  width: 81px;
}
.selecionado-13 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 266px;
  top: 0px;
}
.suporte {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 292px;
  top: 8px;
  width: 62px;
}
.footer {
  background: #55a143;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1008px;
}
.container11 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.links-r-pidos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.principal2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.sobre-n-s2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.loja {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.suporte2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.colecion-veis {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.games {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.acess-rios {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.vestu-rio {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.redes-sociais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container15 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link3 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon5 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon6 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.horizontal-border {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-nerd-hub-todos-os-direitos-reservados {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-286 {
  background: #f4f4f6;
  border-radius: 12px;
  width: 1208px;
  height: 406px;
  position: absolute;
  left: 622px;
  top: 553px;
  overflow: hidden;
}
.produtos-similares {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 23px;
}
.frame-285 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  width: 1126px;
  position: absolute;
  left: 23px;
  top: 51px;
}
.frame-208 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
._20-off {
  color: #ffffff;
  text-align: left;
  font-family: "Lalezar-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 131px;
  top: 273px;
  width: 52px;
  height: 15px;
}
.rectangle-55 {
  background: #ffffff;
  border-radius: 12px;
  width: 214px;
  height: 311px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.dualsense-3-zmwab-5-uu-82-1 {
  width: 142px;
  height: 142px;
  position: absolute;
  left: 36px;
  top: 36px;
  object-fit: cover;
  aspect-ratio: 1;
}
.group-351 {
  position: absolute;
  inset: 0;
}
.ellipse-17 {
  background: #529742;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 178px;
  top: 11px;
}
.play-station {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 11px;
  object-fit: cover;
}
.controle-ps-5-edi-o-limitada-anivers-rio-de-30-anos-sony {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.r-1-349-99 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.frame-284 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.console-play-station-5-pro {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.r-371-91 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.controle-sony-dualsense-ps-5-sem-fio-chroma-indigo-1762779753-m {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 17px;
  top: 34px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ellipse-172 {
  background: #529742;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 178px;
  top: 14px;
}
.play-station2 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 14px;
  object-fit: cover;
}
.frame-281 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-sony-dual-sense-ps-5-sem-fio-galactic-purple-3006456 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 188px;
  height: 50px;
}
.r-360-75 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.controle-sem-fio-sony-ps-5-dualsense-galactic-purple-3006456-1639498915-m {
  width: 170px;
  height: 170px;
  position: absolute;
  left: 22px;
  top: 31px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-282 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-sony-dual-sense-ps-5-sem-fio-starlight-blue {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.controle-sem-fio-sony-ps-5-dualsense-starlight-blue-3006454-1639496265-m {
  width: 165px;
  height: 165px;
  position: absolute;
  left: 24px;
  top: 37px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ellipse-173 {
  background: #529742;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 178px;
  top: 12px;
}
.play-station3 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 12px;
  object-fit: cover;
}
.frame-283 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-sony-dual-sense-ps-5-sem-fio-midnight-black {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.controle-sony-dualsense-ps-5-sem-fio-midnight-black-1762781772-m {
  width: 173px;
  height: 173px;
  position: absolute;
  left: 20px;
  top: 40px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ellipse-174 {
  background: #529742;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 178px;
  top: 10px;
}
.play-station4 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 10px;
  object-fit: cover;
}
.frame-2852 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.play-station-portal-reprodutor-remoto {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.r-1-549-99 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.group-156 {
  height: auto;
  position: absolute;
  left: 3px;
  top: 5px;
  overflow: visible;
}
.frame-210 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.r-6-509-00 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.group-158 {
  position: absolute;
  inset: 0;
}
.group-73 {
  width: 145px;
  height: 163px;
  position: static;
}
._51-dfg-52-k-c-l-ac-sy-300-sx-300-ql-70-ml-2-1 {
  width: 145px;
  height: 163px;
  position: absolute;
  left: 29px;
  top: 17px;
  object-fit: cover;
}
.descri-o-carrinho {
  background: #ffffff;
  border-radius: 12px;
  width: 1208px;
  height: 330px;
  position: absolute;
  left: 622px;
  top: 202px;
}
.play-station5 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 640px;
  top: 219px;
  object-fit: cover;
}
.play-station-dual-sense-controle-sem-fio-branco-3005767 {
  color: #1f2937;
  text-align: left;
  position: absolute;
  left: 815px;
  top: 362px;
  width: 616px;
  height: 28px;
}
.play-station-dual-sense-controle-sem-fio-branco-3005767-span {
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: 500;
}
.play-station-dual-sense-controle-sem-fio-branco-3005767-span2 {
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 16px;
  font-weight: 500;
}
.com-desconto-no-pix-r-464-07 {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 813px;
  top: 387px;
}
.com-desconto-no-pix-r-464-07-span {
  color: #535353;
}
.com-desconto-no-pix-r-464-07-span2 {
  color: #000000;
}
.parcelado-no-cart-o-sem-juros-r-499-00 {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 813px;
  top: 409px;
}
.parcelado-no-cart-o-sem-juros-r-499-00-span {
  color: #535353;
}
.parcelado-no-cart-o-sem-juros-r-499-00-span2 {
  color: #000000;
}
.pre-o-a-vista-no-pix {
  color: #535353;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 1664px;
  top: 339px;
}
.sony {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 815px;
  top: 333px;
}
.controle-sem-fio-ps-5-dualsense-1598897393-m {
  width: 154px;
  height: 154px;
  position: absolute;
  left: 640px;
  top: 300px;
  object-fit: cover;
  aspect-ratio: 1;
}
.r-399-49 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 1664px;
  top: 362px;
  width: 141px;
}
.stepper {
  width: 92px;
  height: 32px;
  position: absolute;
  left: 1470px;
  top: 351px;
}
.separator {
  background: var(--labels-tertiary, rgba(60, 60, 67, 0.3));
  border-radius: 8px;
  width: 1px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4px;
}
.decrement {
  background: var(--fills-quaternary, rgba(116, 116, 128, 0.08));
  border-radius: 100px 0px 0px 100px;
  width: 50%;
  height: 32px;
  position: absolute;
  right: 50%;
  left: 0%;
  top: 0px;
}
.decrement2 {
  color: var(--labels-primary, #000000);
  text-align: center;
  font-family: var(
    --headline-regular-font-family,
    "SfPro-Semibold",
    sans-serif
  );
  font-size: var(--headline-regular-font-size, 17px);
  line-height: var(--headline-regular-line-height, 22px);
  letter-spacing: var(--headline-regular-letter-spacing, -0.43px);
  font-weight: var(--headline-regular-font-weight, 600);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.increment {
  background: var(--fills-quaternary, rgba(116, 116, 128, 0.08));
  border-radius: 0px 100px 100px 0px;
  width: 50%;
  height: 32px;
  position: absolute;
  right: 0%;
  left: 50%;
  top: 0px;
}
.increment2 {
  color: var(--labels-primary, #000000);
  text-align: center;
  font-family: var(
    --headline-regular-font-family,
    "SfPro-Semibold",
    sans-serif
  );
  font-size: var(--headline-regular-font-size, 17px);
  line-height: var(--headline-regular-line-height, 22px);
  letter-spacing: var(--headline-regular-letter-spacing, -0.43px);
  font-weight: var(--headline-regular-font-weight, 600);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-303 {
  width: 596px;
  height: 806px;
  position: absolute;
  left: 39px;
  top: 179px;
  overflow-y: auto;
}
.frame-304 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 562px;
  position: absolute;
  left: 0px;
  top: 25px;
}
.frame-297 {
  background: #ffffff;
  border-radius: 12px;
  align-self: stretch;
  flex-shrink: 0;
  height: 228px;
  position: relative;
  overflow: hidden;
}
.rectangle-636 {
  background: #ffffff;
  border-radius: 12px;
  width: 562px;
  height: 228px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._51-pme-lg-ek-ml-ac-sx-679-2 {
  width: 143px;
  height: 100px;
  position: absolute;
  left: 38px;
  top: 62px;
  object-fit: cover;
}
.play-station6 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 19px;
  top: 8px;
  object-fit: cover;
}
.play-station-dual-sense-controle-sem-fio-branco {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 217px;
  top: 65px;
  width: 209px;
  height: 38px;
}
.r-399-492 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 218px;
  top: 113px;
  width: 104px;
}
.qtd-produto-1 {
  color: #979797;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 7px;
  font-weight: 700;
  position: absolute;
  left: 218px;
  top: 142px;
}
.group-373 {
  position: absolute;
  inset: 0;
}
.rectangle-638 {
  background: #55a143;
  border-radius: 8px;
  width: 95px;
  height: 30px;
  position: absolute;
  left: 456px;
  top: 9px;
}
.remover {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 474px;
  top: 16.94px;
  width: 60px;
  height: 14.12px;
}
.remover-span {
  color: #ffffff;
  font-family: "Lunasima-Regular", sans-serif;
}
.remover-span2 {
  color: #000000;
  font-family: "Lunasima-Bold", sans-serif;
  font-weight: 700;
}
.frame-298 {
  background: #ffffff;
  border-radius: 12px;
  align-self: stretch;
  flex-shrink: 0;
  height: 229px;
  position: relative;
  overflow: hidden;
}
.rectangle-637 {
  background: #ffffff;
  border-radius: 12px;
  width: 562px;
  height: 229px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.pop-halo-infinite-master-chief-vinyl-figure {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 215px;
  top: 68px;
  width: 209px;
  height: 34px;
}
.qtd-produto-2 {
  color: #979797;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 7px;
  font-weight: 700;
  position: absolute;
  left: 216px;
  top: 154px;
}
.r-399-493 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 215px;
  top: 128px;
  width: 104px;
}
.group-144 {
  position: absolute;
  inset: 0;
}
._71-q-kdn-oo-6-l-ac-sx-679-2 {
  width: 111px;
  height: 149px;
  position: absolute;
  left: 53px;
  top: 40px;
  object-fit: cover;
}
.xbox {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 19px;
  top: 9px;
  object-fit: cover;
}
.group-378 {
  position: absolute;
  inset: 0;
}
.rectangle-640 {
  background: #55a143;
  border-radius: 8px;
  width: 95px;
  height: 30px;
  position: absolute;
  left: 456px;
  top: 9px;
}
.remover-span {
  color: #ffffff;
  font-family: "Lunasima-Regular", sans-serif;
}
.remover-span2 {
  color: #000000;
  font-family: "Lunasima-Bold", sans-serif;
  font-weight: 700;
}
.frame-299 {
  background: #ffffff;
  border-radius: 12px;
  align-self: stretch;
  flex-shrink: 0;
  height: 228px;
  position: relative;
  overflow: hidden;
}
.rectangle-601 {
  background: #ffffff;
  border-radius: 12px;
  width: 562px;
  height: 228px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.headset-xbox-sem-fio {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 227px;
  top: 83px;
  width: 209px;
  height: 34px;
}
.qtd-produto-12 {
  color: #979797;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 7px;
  font-weight: 700;
  position: absolute;
  left: 228px;
  top: 169px;
}
.r-269-93 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 227px;
  top: 143px;
  width: 136px;
}
.produto-xbox {
  position: absolute;
  inset: 0;
}
.group-379 {
  width: 191px;
  height: 180px;
  position: static;
}
.rectangle-325 {
  background: #ffffff;
  width: 191px;
  height: 180px;
  position: absolute;
  left: 19px;
  top: 24px;
}
.group-50 {
  width: 130.29px;
  height: 126.64px;
  position: static;
}
._618-o-os-ly-pjs-ac-sx-679-1 {
  width: 130.29px;
  height: 126.64px;
  position: absolute;
  left: 44.92px;
  top: 56.79px;
  object-fit: cover;
}
.xbox2 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 19px;
  top: 11px;
  object-fit: cover;
}
.group-374 {
  position: absolute;
  inset: 0;
}
.rectangle-6382 {
  background: #55a143;
  border-radius: 8px;
  width: 95px;
  height: 30px;
  position: absolute;
  left: 458px;
  top: 11px;
}
.remover2 {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 475px;
  top: 18px;
  width: 60px;
  height: 14.12px;
}
.remover-2-span {
  color: #ffffff;
  font-family: "Lunasima-Regular", sans-serif;
}
.remover-2-span2 {
  color: #000000;
  font-family: "Lunasima-Bold", sans-serif;
  font-weight: 700;
}
.frame-300 {
  background: #ffffff;
  border-radius: 12px;
  align-self: stretch;
  flex-shrink: 0;
  height: 229px;
  position: relative;
  overflow: hidden;
}
.rectangle-602 {
  background: #ffffff;
  border-radius: 12px;
  width: 562px;
  height: 229px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.pop-captain-america-sam-wilson-flying {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 248px;
  top: 75px;
  width: 209px;
  height: 34px;
}
.qtd-produto-13 {
  color: #979797;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 7px;
  font-weight: 700;
  position: absolute;
  left: 249px;
  top: 161px;
}
.r-269-932 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 248px;
  top: 135px;
  width: 136px;
}
._1408873-800-auto {
  width: 176px;
  height: 180px;
  position: absolute;
  left: 23px;
  top: 39px;
  object-fit: cover;
}
.marvel {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 19px;
  top: 8px;
  object-fit: cover;
}
.group-375 {
  position: absolute;
  inset: 0;
}
.rectangle-6402 {
  background: #55a143;
  border-radius: 8px;
  width: 95px;
  height: 30px;
  position: absolute;
  left: 458px;
  top: 8px;
}
.remover3 {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 476px;
  top: 15.94px;
  width: 60px;
  height: 14.12px;
}
.remover-3-span {
  color: #ffffff;
  font-family: "Lunasima-Regular", sans-serif;
}
.remover-3-span2 {
  color: #000000;
  font-family: "Lunasima-Bold", sans-serif;
  font-weight: 700;
}
.frame-301 {
  background: #ffffff;
  border-radius: 12px;
  align-self: stretch;
  flex-shrink: 0;
  height: 229px;
  position: relative;
  overflow: hidden;
}
.rectangle-600 {
  background: #ffffff;
  border-radius: 12px;
  width: 562px;
  height: 229px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.pop-lilo-and-stitch-smiling-seated-stitch-vinyl-figure {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 215px;
  top: 68px;
  width: 209px;
  height: 34px;
}
.r-179-00 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 215px;
  top: 128px;
  width: 104px;
}
.group-376 {
  position: absolute;
  inset: 0;
}
.rectangle-6403 {
  background: #55a143;
  border-radius: 8px;
  width: 95px;
  height: 30px;
  position: absolute;
  left: 457px;
  top: 8px;
}
.remover4 {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 475px;
  top: 15.94px;
  width: 60px;
  height: 14.12px;
}
.remover-4-span {
  color: #ffffff;
  font-family: "Lunasima-Regular", sans-serif;
}
.remover-4-span2 {
  color: #000000;
  font-family: "Lunasima-Bold", sans-serif;
  font-weight: 700;
}
.group-131 {
  position: absolute;
  inset: 0;
}
._618-lk-yll-7-kl-ac-sx-300-sy-300-ql-70-ml-2-1 {
  width: 114px;
  height: 153px;
  position: absolute;
  left: 52px;
  top: 49px;
  object-fit: cover;
}
.disney {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 19px;
  top: 8px;
  object-fit: cover;
}
.frame-302 {
  background: #ffffff;
  border-radius: 12px;
  align-self: stretch;
  flex-shrink: 0;
  height: 228px;
  position: relative;
  overflow: hidden;
}
.rectangle-635 {
  background: #ffffff;
  border-radius: 12px;
  width: 562px;
  height: 228px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.astro-bot-ps-5 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 213px;
  top: 73px;
  width: 209px;
  height: 34px;
}
.qtd-produto-14 {
  color: #979797;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 7px;
  font-weight: 700;
  position: absolute;
  left: 214px;
  top: 159px;
}
.r-269-933 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 213px;
  top: 133px;
  width: 136px;
}
.group-377 {
  position: absolute;
  inset: 0;
}
.rectangle-6404 {
  background: #55a143;
  border-radius: 8px;
  width: 95px;
  height: 30px;
  position: absolute;
  left: 456px;
  top: 11px;
}
.remover5 {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 473px;
  top: 18px;
  width: 60px;
  height: 14.12px;
}
.remover-5-span {
  color: #ffffff;
  font-family: "Lunasima-Regular", sans-serif;
}
.remover-5-span2 {
  color: #000000;
  font-family: "Lunasima-Bold", sans-serif;
  font-weight: 700;
}
.produto-playstation {
  position: absolute;
  inset: 0;
}
.group-380 {
  width: 191px;
  height: 180px;
  position: static;
}
.rectangle-3252 {
  background: #ffffff;
  width: 191px;
  height: 180px;
  position: absolute;
  left: 15px;
  top: 24px;
}
.group-143 {
  width: 110px;
  height: 137px;
  position: static;
}
.group-157 {
  width: 110px;
  height: 137px;
  position: static;
}
.group-103 {
  width: 110px;
  height: 137px;
  position: static;
}
._81-snw-iy-j-di-l-ac-sx-679-1 {
  width: 110px;
  height: 137px;
  position: absolute;
  left: 55px;
  top: 45px;
  object-fit: cover;
}
.play-station7 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 19px;
  top: 11px;
  object-fit: cover;
}
