._8-tela-aba-edi-ao-do-usuario,
._8-tela-aba-edi-ao-do-usuario * {
  box-sizing: border-box;
}
._8-tela-aba-edi-ao-do-usuario {
  background: #7c7c7c;
  height: 1317px;
  position: relative;
  overflow: hidden;
}
.background {
  background: #55a143;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 85px;
  height: 32px;
  position: relative;
}
.nome-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 113px;
  height: 17px;
}
.margin {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 576px;
  max-width: 576px;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 9999px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container5 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.o-que-voc-est-procurando {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.button {
  padding: 5px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 50%;
  translate: 0 -50%;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 22.21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.container8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 40px;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.header {
  background: #131313;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 77px;
}
.container10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1870px;
  height: 40px;
  max-width: 1870px;
  position: relative;
}
.nav-944 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.g-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-1 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.principal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 8px;
  width: 67px;
}
.s-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-12 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.sobre-n-s {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 149px;
  top: 8px;
  width: 81px;
}
.selecionado-13 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 266px;
  top: 0px;
}
.suporte {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 292px;
  top: 8px;
  width: 62px;
}
.footer {
  background: #55a143;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1008px;
}
.container11 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.links-r-pidos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.principal2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.sobre-n-s2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.loja {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.suporte2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.colecion-veis {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.games {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.acess-rios {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.vestu-rio {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.redes-sociais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container15 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link3 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon5 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon6 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.horizontal-border {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-nerd-hub-todos-os-direitos-reservados {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.qtd-produto-2 {
  color: #979797;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 7px;
  font-weight: 700;
  position: absolute;
  left: 310px;
  top: 877px;
}
.aside {
  background: var(--color-white-10, rgba(255, 255, 255, 0.1));
  border-radius: 20px;
  border-style: solid;
  border-color: var(--color-white-20, rgba(255, 255, 255, 0.2));
  border-width: 1px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 256px;
  height: 556px;
  position: absolute;
  left: 175px;
  top: 218px;
  backdrop-filter: blur(5px);
}
.heading-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.configura-es {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-heading-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--readdylink-semantic-heading-2-font-size, 18px);
  line-height: var(--readdylink-semantic-heading-2-line-height, 28px);
  font-weight: var(--readdylink-semantic-heading-2-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.component-2 {
  background: rgba(20, 184, 166, 0.3);
  border-radius: 16px;
  border-style: solid;
  border-color: #14b8a6;
  border-width: 0px 0px 0px 3px;
  padding: 12px 16px 12px 19px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container16 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.component-3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.container17 {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.component-1 {
  flex-shrink: 0;
  width: 16.67px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.margin2 {
  padding: 0px 0px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-22 {
  border-radius: 16px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.component-12 {
  flex-shrink: 0;
  width: 16.67px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.component-13 {
  flex-shrink: 0;
  width: 16.67px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.component-14 {
  flex-shrink: 0;
  width: 16.67px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.component-15 {
  flex-shrink: 0;
  width: 16.67px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.component-16 {
  flex-shrink: 0;
  width: 16.67px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.component-4 {
  border-radius: 16px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container18 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1200px;
  height: 724px;
  position: absolute;
  left: 463px;
  top: 218px;
}
.overlay-border-overlay-blur {
  background: var(--color-white-10, rgba(255, 255, 255, 0.1));
  border-radius: 20px;
  border-style: solid;
  border-color: var(--color-white-20, rgba(255, 255, 255, 0.2));
  border-width: 1px;
  padding: 33px;
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-m, 32px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
  backdrop-filter: blur(5px);
}
.heading-22 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.perfil {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-heading-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--readdylink-semantic-heading-2-font-size, 24px);
  line-height: var(--readdylink-semantic-heading-2-line-height, 32px);
  font-weight: var(--readdylink-semantic-heading-2-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container19 {
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-m, 32px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.component-32 {
  background: linear-gradient(
    135deg,
    rgba(20, 184, 166, 1) 0%,
    rgba(59, 130, 246, 1) 100%
  );
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
}
.component-17 {
  flex-shrink: 0;
  width: 25px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.component-33 {
  background: #4b5563;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 64px;
  bottom: 0px;
}
.container20 {
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.component-18 {
  flex-shrink: 0;
  width: 14.6px;
  height: 14.01px;
  position: relative;
  overflow: visible;
}
.margin3 {
  padding: 0px 0px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container21 {
  padding: 8px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: var(--item-spacing-125, 12.5px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.component-42 {
  background: #3b82f6;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: var(--color-white-solid, #ffffff);
  text-align: center;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-43 {
  background: #ef4444;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.container22 {
  align-self: stretch;
  flex-shrink: 0;
  height: 284px;
  position: relative;
}
.container23 {
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 579px;
  left: 0px;
  top: 0px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nome-de-perfil {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-label-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--readdylink-semantic-label-font-size, 14px);
  line-height: var(--readdylink-semantic-label-line-height, 20px);
  font-weight: var(--readdylink-semantic-label-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input2 {
  background: #272a29;
  border-radius: 16px;
  border-style: solid;
  border-color: var(--color-azure-34, #4b5563);
  border-width: 1px;
  padding: 13px 17px 13px 17px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container24 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: auto;
}
.carlos-silva-dev {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container25 {
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 579px;
  top: 0px;
}
.nome-completo {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-label-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--readdylink-semantic-label-font-size, 14px);
  line-height: var(--readdylink-semantic-label-line-height, 20px);
  font-weight: var(--readdylink-semantic-label-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.carlos-silva {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container26 {
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 579px;
  left: 0px;
  top: 102px;
}
.e-mail {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-label-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--readdylink-semantic-label-font-size, 14px);
  line-height: var(--readdylink-semantic-label-line-height, 20px);
  font-weight: var(--readdylink-semantic-label-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.carlos-silva-email-com {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container27 {
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 579px;
  top: 102px;
}
.telefone {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-label-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--readdylink-semantic-label-font-size, 14px);
  line-height: var(--readdylink-semantic-label-line-height, 20px);
  font-weight: var(--readdylink-semantic-label-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._11-98765-4321 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container28 {
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 579px;
  left: 0px;
  top: 204px;
}
.data-de-nascimento {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-label-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--readdylink-semantic-label-font-size, 14px);
  line-height: var(--readdylink-semantic-label-line-height, 20px);
  font-weight: var(--readdylink-semantic-label-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paragraph {
  padding: 1px 412.42px 1px 1px;
  display: flex;
  flex-direction: row;
  gap: var(--stroke-weight-1, 1px);
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.spinbutton-month-05 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.spinbutton-day-15 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.spinbutton-year-1990 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.image-fill {
  padding: 2px 2px 3px 2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.component-5 {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.container29 {
  padding: 0px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 579px;
  top: 204px;
}
.g-nero {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-label-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--readdylink-semantic-label-font-size, 14px);
  line-height: var(--readdylink-semantic-label-line-height, 20px);
  font-weight: var(--readdylink-semantic-label-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button2 {
  background: #272a29;
  border-radius: 16px;
  border-style: solid;
  border-color: var(--color-azure-34, #4b5563);
  border-width: 1px;
  padding: 13px 17px 13px 17px;
  display: flex;
  flex-direction: row;
  gap: var(--item-spacing-42772, 427.72px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.masculino {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-34 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.component-19 {
  flex-shrink: 0;
  width: 16.67px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.container30 {
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.biografia {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-label-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--readdylink-semantic-label-font-size, 14px);
  line-height: var(--readdylink-semantic-label-line-height, 20px);
  font-weight: var(--readdylink-semantic-label-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textarea {
  background: #252a29;
  border-radius: 16px;
  border-style: solid;
  border-color: var(--color-azure-34, #4b5563);
  border-width: 1px;
  padding: 13px 17px 61px 17px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: auto;
}
.desenvolvedor-apaixonado-por-tecnologia-e-inova-o-especialista-em-java-script-react-e-node-js-sempre-em-busca-de-novos-desafios-e-aprendizados {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --readdylink-semantic-button-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--readdylink-semantic-button-font-size, 16px);
  line-height: var(--readdylink-semantic-button-line-height, 24px);
  font-weight: var(--readdylink-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
