{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel Administrativo</title>
    <link rel="stylesheet" href="{% static 'css/painel.css' %}">
</head>
<body>  
    <aside class="sidebar">
        <h2>Painel</h2>
        <ul>
            <li><a href="{% url 'painel:dashboard' %}">Dashboard</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Configurações</a></li>
        </ul>
    </aside>

    <main class="content">
        {% block conteudo %}{% endblock %}
    </main>
</body>
</html>