._11-tela-404-erro-f,
._11-tela-404-erro-f * {
  box-sizing: border-box;
}
._11-tela-404-erro-f {
  background: #ffffff;
  height: 1317px;
  position: relative;
  overflow: hidden;
}
.footer {
  background: #55a143;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1008px;
}
.container {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.links-r-pidos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.principal {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.sobre-n-s {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.loja {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.suporte {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.colecion-veis {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.games {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.acess-rios {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.vestu-rio {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.redes-sociais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 40px;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon3 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.horizontal-border {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-nerd-hub-todos-os-direitos-reservados {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.body {
  width: 1870px;
  height: 861px;
  position: absolute;
  left: 0px;
  top: 147px;
  overflow: hidden;
}
.ellipse-56 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 312px;
  top: 107px;
}
.ellipse-57 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 312px;
  top: 99px;
}
.ellipse-54 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 41px;
  height: 41px;
  position: absolute;
  left: 427px;
  top: 663px;
  filter: blur(12.5px);
}
.botao-voltar-p-inicial {
  position: absolute;
  inset: 0;
}
.rectangle-624 {
  background: #55a143;
  border-radius: 10px;
  width: 451px;
  height: 83px;
  position: absolute;
  left: 1154px;
  top: 561px;
}
.voltar-a-p-gina-inicial {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1252px;
  top: 588px;
}
.img-404-error {
  position: absolute;
  inset: 0;
}
.ellipse-55 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 312px;
  top: 115px;
}
.ellipse-58 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 312px;
  top: 107px;
}
.ellipse-59 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 312px;
  top: 99px;
}
.ellipse-60 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 312px;
  top: 91px;
}
.ellipse-61 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 312px;
  top: 83px;
}
._404 {
  color: #529742;
  text-align: left;
  font-family: "Bitter-Bold", sans-serif;
  font-size: 250px;
  font-weight: 700;
  position: absolute;
  left: 1135px;
  top: 96px;
  width: 470px;
  height: 247px;
}
.group-362 {
  width: 510px;
  height: 500.5px;
  position: absolute;
  left: 207px;
  top: 136px;
  overflow: visible;
}
.electrical {
  width: 89.33px;
  height: 89.33px;
  position: absolute;
  left: 978.28px;
  top: 542.76px;
  transform-origin: 0 0;
  transform: rotate(135.114deg) scale(0.992, 1.007);
  object-fit: cover;
}
.line-102 {
  border-radius: 0px;
  width: 201.95px;
  height: 70.99px;
  position: absolute;
  left: 714px;
  top: 433.97px;
  overflow: visible;
}
.line-103 {
  border-radius: 0px;
  width: 102.5px;
  height: 532.89px;
  position: absolute;
  left: 1448px;
  top: 795.5px;
  overflow: visible;
}
.group-365 {
  width: 67.37px;
  height: 57px;
  position: static;
}
.rectangle-628 {
  background: #78a55a;
  border-radius: 10px;
  width: 57.17px;
  height: 38px;
  position: absolute;
  left: 944.2px;
  top: 674.52px;
  transform-origin: 0 0;
  transform: rotate(179.895deg) scale(1, 1);
}
.rectangle-629 {
  background: #78a55a;
  width: 18.63px;
  height: 13.52px;
  position: absolute;
  left: 907.42px;
  top: 692.95px;
  transform-origin: 0 0;
  transform: rotate(-89.827deg) scale(1, 1);
}
.rectangle-630 {
  background: #78a55a;
  border-radius: 1000px;
  width: 5.22px;
  height: 67.36px;
  position: absolute;
  left: 882.01px;
  top: 641.42px;
  transform-origin: 0 0;
  transform: rotate(-90.132deg) scale(1, 1);
}
.rectangle-631 {
  background: #78a55a;
  width: 57px;
  height: 5px;
  position: absolute;
  left: 887px;
  top: 641px;
}
.p-gina-n-o-encontrada {
  color: #66a458;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 1103px;
  top: 401px;
}
.p-gina-n-o-encontrada-span {
  font-family: "Inter-Regular", sans-serif;
}
.p-gina-n-o-encontrada-span2 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.a-p-gina-que-voc-solicitou-n-o-pode-ser-encontrada {
  color: #66a458;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1126px;
  top: 488px;
}
.line-104 {
  width: 29px;
  height: 11px;
  position: absolute;
  left: 299px;
  top: 67px;
  overflow: visible;
}
.labirinto {
  width: 511.97px;
  height: 501.27px;
  position: absolute;
  left: 207px;
  top: 136px;
  overflow: visible;
}
.header {
  background: #ffffff;
  width: 1870px;
  height: 148px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.rectangle-673 {
  background: #131313;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 74px;
}
.rectangle-674 {
  background: #55a143;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.principal2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 804px;
  top: 99px;
}
.sobre-n-s2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 931px;
  top: 99px;
}
.suporte2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 1073px;
  top: 99px;
}
.vector {
  width: 0.98%;
  height: 12.56%;
  position: absolute;
  right: 5.92%;
  left: 93.1%;
  bottom: 55.97%;
  top: 31.48%;
  transform: translate(0px, -18.58px);
  overflow: visible;
}
.vector2 {
  width: 0.75%;
  height: 12.42%;
  position: absolute;
  right: 2.62%;
  left: 96.63%;
  bottom: 56.25%;
  top: 31.33%;
  transform: translate(0px, -18.38px);
  overflow: visible;
}
.nome-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 41px;
  top: 28px;
  width: 113px;
  height: 17px;
}
.group-394 {
  position: absolute;
  inset: 0;
}
.rectangle-675 {
  background: #ffffff;
  border-radius: 40px;
  width: 576px;
  height: 42px;
  position: absolute;
  left: 683px;
  top: 16px;
}
.o-que-voc-est-procurando {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 704px;
  top: 27px;
}
