._8-tela-404-erro,
._8-tela-404-erro * {
  box-sizing: border-box;
}
._8-tela-404-erro {
  background: #ffffff;
  height: 1317px;
  position: relative;
  overflow: hidden;
}
.background {
  background: #55a143;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 85px;
  height: 32px;
  position: relative;
}
.nome-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 113px;
  height: 17px;
}
.margin {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 576px;
  max-width: 576px;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 9999px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container5 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.o-que-voc-est-procurando {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.button {
  padding: 5px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 50%;
  translate: 0 -50%;
}
.container6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 22.21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 40px;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.header {
  background: #131313;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 77px;
}
.container9 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1870px;
  height: 40px;
  max-width: 1870px;
  position: relative;
}
.nav-944 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.g-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-1 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.principal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 8px;
  width: 67px;
}
.s-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-12 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.sobre-n-s {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 149px;
  top: 8px;
  width: 81px;
}
.selecionado-13 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 266px;
  top: 0px;
}
.suporte {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 292px;
  top: 8px;
  width: 62px;
}
.footer {
  background: #55a143;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1008px;
}
.container10 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container11 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.links-r-pidos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.principal2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.sobre-n-s2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.loja {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.suporte2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.colecion-veis {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.games {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.acess-rios {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.vestu-rio {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.redes-sociais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container14 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link3 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon5 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon6 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.horizontal-border {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container15 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-nerd-hub-todos-os-direitos-reservados {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.ellipse-55 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 264px;
  top: 327px;
}
.ellipse-56 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 264px;
  top: 319px;
}
.ellipse-57 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 264px;
  top: 311px;
}
.ellipse-58 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 264px;
  top: 319px;
}
.ellipse-59 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 264px;
  top: 311px;
}
.ellipse-60 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 264px;
  top: 303px;
}
.ellipse-61 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 264px;
  top: 295px;
}
.ellipse-54 {
  background: #529742;
  border-radius: 50%;
  border-style: solid;
  border-color: #55a143;
  border-width: 1px;
  width: 41px;
  height: 41px;
  position: absolute;
  left: 379px;
  top: 875px;
  filter: blur(12.5px);
}
._404 {
  color: #529742;
  text-align: left;
  font-family: "Bitter-Bold", sans-serif;
  font-size: 250px;
  font-weight: 700;
  position: absolute;
  left: 1087px;
  top: 308px;
  width: 470px;
  height: 247px;
}
.group-363 {
  position: absolute;
  inset: 0;
}
.group-362 {
  width: 510px;
  height: 500.5px;
  position: absolute;
  left: 159px;
  top: 348px;
  overflow: visible;
}
.line-96 {
  margin-top: -5px;
  border-style: solid;
  border-color: #529742;
  border-width: 5px 0 0 0;
  width: 501px;
  height: 0px;
  position: absolute;
  left: 666px;
  top: 348px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-99 {
  margin-top: -5px;
  border-style: solid;
  border-color: #529742;
  border-width: 5px 0 0 0;
  width: 501px;
  height: 0px;
  position: absolute;
  left: 159px;
  top: 348px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-97 {
  margin-top: -5px;
  border-style: solid;
  border-color: #529742;
  border-width: 5px 0 0 0;
  width: 377.97px;
  height: 0px;
  position: absolute;
  left: 293px;
  top: 350.49px;
  transform-origin: 0 0;
  transform: rotate(-0.075deg) scale(1, 1);
}
.line-98 {
  margin-top: -5px;
  border-style: solid;
  border-color: #529742;
  border-width: 5px 0 0 0;
  width: 79.97px;
  height: 0px;
  position: absolute;
  left: 159px;
  top: 350px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-100 {
  margin-top: -5px;
  border-style: solid;
  border-color: #529742;
  border-width: 5px 0 0 0;
  width: 243px;
  height: 0px;
  position: absolute;
  left: 427.77px;
  top: 849.03px;
  transform-origin: 0 0;
  transform: rotate(0.058deg) scale(1, 1);
}
.line-101 {
  margin-top: -5px;
  border-style: solid;
  border-color: #529742;
  border-width: 5px 0 0 0;
  width: 208px;
  height: 0px;
  position: absolute;
  left: 159px;
  top: 849px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.electrical {
  width: 89.33px;
  height: 89.33px;
  position: absolute;
  left: 930.28px;
  top: 754.76px;
  transform-origin: 0 0;
  transform: rotate(135.114deg) scale(0.992, 1.007);
  object-fit: cover;
}
.line-102 {
  border-radius: 0px;
  width: 201.95px;
  height: 70.99px;
  position: absolute;
  left: 666px;
  top: 645.97px;
  transform: translate(0px, -2.5px);
  overflow: visible;
}
.line-103 {
  border-radius: 0px;
  width: 102.5px;
  height: 532.89px;
  position: absolute;
  left: 1400px;
  top: 1007.5px;
  transform: translate(-535.39px, -102.5px);
  overflow: visible;
}
.group-365 {
  position: absolute;
  inset: 0;
}
.rectangle-628 {
  background: #78a55a;
  border-radius: 10px;
  width: 57.17px;
  height: 38px;
  position: absolute;
  left: 896.2px;
  top: 886.52px;
  transform-origin: 0 0;
  transform: rotate(179.895deg) scale(1, 1);
}
.rectangle-629 {
  background: #78a55a;
  width: 18.63px;
  height: 13.52px;
  position: absolute;
  left: 859.42px;
  top: 904.95px;
  transform-origin: 0 0;
  transform: rotate(-89.827deg) scale(1, 1);
}
.rectangle-630 {
  background: #78a55a;
  border-radius: 1000px;
  width: 5.22px;
  height: 67.36px;
  position: absolute;
  left: 834.01px;
  top: 853.42px;
  transform-origin: 0 0;
  transform: rotate(-90.132deg) scale(1, 1);
}
.rectangle-631 {
  background: #78a55a;
  width: 57px;
  height: 5px;
  position: absolute;
  left: 839px;
  top: 853px;
}
.group-359 {
  position: absolute;
  inset: 0;
}
.rectangle-624 {
  background: #55a143;
  border-radius: 10px;
  width: 451px;
  height: 83px;
  position: absolute;
  left: 1106px;
  top: 773px;
}
.voltar-a-p-gina-inicial {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1204px;
  top: 800px;
}
.p-gina-n-o-encontrada {
  color: #66a458;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 1055px;
  top: 613px;
}
.p-gina-n-o-encontrada-span {
  font-family: "Inter-Regular", sans-serif;
}
.p-gina-n-o-encontrada-span2 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.a-p-gina-que-voc-solicitou-n-o-pode-ser-encontrada {
  color: #66a458;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1078px;
  top: 700px;
}
.line-104 {
  width: 29px;
  height: 11px;
  position: absolute;
  left: 251px;
  top: 279px;
  overflow: visible;
}
