.tela-cadastro,
.tela-cadastro * {
  box-sizing: border-box;
}
.tela-cadastro {
  background: #dfdede;
  height: 1215px;
  position: relative;
  overflow: hidden;
}
.group-370 {
  position: absolute;
  inset: 0;
}
.group-367-1-2 {
  width: 1836px;
  height: 791px;
  position: absolute;
  left: 35px;
  top: 151px;
  object-fit: cover;
  aspect-ratio: 1836/791;
}
.group-369 {
  width: 1836px;
  height: 791px;
  position: static;
}
.frame-296 {
  background: linear-gradient(
    180deg,
    rgba(163, 163, 163, 0.35) 0%,
    rgba(0, 0, 0, 0.35) 100%
  );
  width: 1836px;
  height: 791px;
  position: absolute;
  left: 35px;
  top: 151px;
  overflow: hidden;
}
.background {
  background: #55a143;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 85px;
  height: 32px;
  position: relative;
}
.nome-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 113px;
  height: 17px;
}
.margin {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 576px;
  max-width: 576px;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 9999px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container5 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.o-que-voc-est-procurando {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.button {
  padding: 5px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 50%;
  translate: 0 -50%;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 22.21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.container8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 40px;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.header {
  background: #131313;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 77px;
}
.container10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1870px;
  height: 40px;
  max-width: 1870px;
  position: relative;
}
.nav-944 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.g-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-1 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.principal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 8px;
  width: 67px;
}
.s-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-12 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.sobre-n-s {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 149px;
  top: 8px;
  width: 81px;
}
.selecionado-13 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 266px;
  top: 0px;
}
.suporte {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 292px;
  top: 8px;
  width: 62px;
}
.footer {
  background: #55a143;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: -2px;
  left: 0px;
  top: 906px;
}
.container11 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.links-r-pidos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.principal2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.sobre-n-s2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.loja {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.suporte2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.colecion-veis {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.games {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.acess-rios {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.vestu-rio {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.redes-sociais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container15 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link3 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon5 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon6 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.horizontal-border {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-nerd-hub-todos-os-direitos-reservados {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.rectangle-620 {
  background: #4c8c3e;
  width: 604px;
  height: 757px;
  position: absolute;
  left: 0px;
  top: 151px;
}
.cadastrar {
  color: #ffffff;
  text-align: left;
  font-family: "Lunasima-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 257px;
  top: 446px;
}
.rectangle-6202 {
  background: rgba(217, 217, 217, 0);
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 369px;
  height: 55px;
  position: absolute;
  left: 119px;
  top: 503px;
}
.rectangle-621 {
  background: rgba(217, 217, 217, 0);
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 369px;
  height: 55px;
  position: absolute;
  left: 119px;
  top: 591px;
}
.rectangle-622 {
  background: rgba(217, 217, 217, 0);
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 369px;
  height: 55px;
  position: absolute;
  left: 119px;
  top: 679px;
}
.continuar-com-a-apple {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Lunasima-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 229px;
  bottom: 584px;
  width: 179px;
  height: 24px;
}
.continuar-com-o-e-mail {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Lunasima-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 229px;
  bottom: 495px;
  width: 202px;
  height: 24px;
}
.apple-big-logo-1 {
  width: 22.21px;
  height: 21.68px;
  position: absolute;
  left: 199px;
  top: 607px;
  object-fit: cover;
}
.continuar-com-google {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Lunasima-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 229px;
  bottom: 672px;
  width: 174px;
  height: 24px;
}
.google-1 {
  width: 22.21px;
  height: 21.68px;
  position: absolute;
  left: 199px;
  top: 519px;
  object-fit: cover;
}
.n-o-tem-uma-conta-cadastrar {
  text-align: center;
  font-family: "Lunasima-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 151px;
  bottom: 428.18px;
  width: 306px;
  height: 36.82px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-o-tem-uma-conta-cadastrar-span {
  color: #000000;
}
.n-o-tem-uma-conta-cadastrar-span2 {
  color: #ffffff;
}
.mail-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 197px;
  top: 695px;
  object-fit: cover;
  aspect-ratio: 1;
}
.logomarca {
  position: absolute;
  inset: 0;
}
.nerd-hub-removebg-preview-5 {
  width: 267px;
  height: 150.28px;
  position: absolute;
  left: 164px;
  top: 212px;
  object-fit: cover;
}
.nerd-hub2 {
  color: #ffffff;
  text-align: left;
  font-family: "RoundedMplus1CBold-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 249px;
  top: 368px;
  width: 98.67px;
  height: 28.72px;
}
