._7-aba-de-compras,
._7-aba-de-compras * {
  box-sizing: border-box;
}
._7-aba-de-compras {
  background: #ffffff;
  height: 4480px;
  position: relative;
  overflow: hidden;
}
.background {
  background: #55a143;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 85px;
  height: 32px;
  position: relative;
}
.nome-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 113px;
  height: 17px;
}
.margin {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 576px;
  max-width: 576px;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 9999px;
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container5 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.o-que-voc-est-procurando {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.button {
  padding: 5px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 50%;
  translate: 0 -50%;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 22.21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.container8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 40px;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.header {
  background: #131313;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1870px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 77px;
}
.container10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1870px;
  height: 40px;
  max-width: 1870px;
  position: relative;
}
.nav-944 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.g-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-1 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.principal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 8px;
  width: 67px;
}
.s-selecionado {
  flex-shrink: 0;
  width: 113px;
  height: 40px;
  position: static;
}
.selecionado-12 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.sobre-n-s {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 149px;
  top: 8px;
  width: 81px;
}
.selecionado-13 {
  background: rgba(10, 113, 94, 0);
  border-radius: 8px;
  width: 113px;
  height: 40px;
  position: absolute;
  left: 266px;
  top: 0px;
}
.suporte {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 292px;
  top: 8px;
  width: 62px;
}
.controle-sem-fio-ps-5-dualsense-1598897393-gg {
  width: 593px;
  height: 593px;
  position: absolute;
  left: 240px;
  top: 251px;
  object-fit: cover;
  aspect-ratio: 1;
}
.controle-sem-fio-ps-5-dualsense-1598897391-p {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 820px;
  top: 844px;
  object-fit: cover;
  aspect-ratio: 1;
}
.controle-sem-fio-ps-5-dualsense-1598897392-p {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 706px;
  top: 844px;
  object-fit: cover;
  aspect-ratio: 1;
}
.controle-sem-fio-ps-5-dualsense-1598897393-p {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 198px;
  top: 844px;
  object-fit: cover;
  aspect-ratio: 1;
}
.controle-sem-fio-ps-5-dualsense-1598897394-p {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 325px;
  top: 844px;
  object-fit: cover;
  aspect-ratio: 1;
}
.controle-sem-fio-ps-5-dualsense-1598897395-p {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 579px;
  top: 844px;
  object-fit: cover;
  aspect-ratio: 1;
}
.controle-sem-fio-ps-5-dualsense-1598897396-p {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 452px;
  top: 844px;
  object-fit: cover;
  aspect-ratio: 1;
}
.play-station-dual-sense-controle-sem-fio-branco-3005767 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 966px;
  top: 251px;
  width: 552px;
  height: 30px;
}
.frame-287 {
  background: #e2e2e2;
  width: 1879px;
  height: 352px;
  position: absolute;
  left: 0px;
  top: 2222px;
  overflow: hidden;
}
.imagem-ilustrativa {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 7px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 1385px;
  top: 1015px;
}
.group-354 {
  position: absolute;
  inset: 0;
}
.ellipse-52 {
  background: #0018ff;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 770.5px;
  top: 986.36px;
  transform-origin: 0 0;
  transform: rotate(0.617deg) scale(1, 1);
  filter: blur(2px);
}
.play-station {
  width: 11px;
  height: 10px;
  position: absolute;
  left: 771.49px;
  top: 987.38px;
  transform-origin: 0 0;
  transform: rotate(0.617deg) scale(1, 1);
  object-fit: cover;
}
.group-357 {
  position: absolute;
  inset: 0;
}
.group-356 {
  width: 13px;
  height: 13px;
  position: static;
}
.group-355 {
  width: 13px;
  height: 13px;
  position: static;
}
.ellipse-53 {
  background: #bed3e7;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 857px;
  top: 996px;
  filter: blur(1px);
}
.play-station2 {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 859px;
  top: 997px;
  object-fit: cover;
}
.group-360 {
  position: absolute;
  inset: 0;
}
.rectangle-598 {
  background: #030108;
  width: 1872px;
  height: 222px;
  position: absolute;
  left: -2px;
  top: 1062px;
}
.apresentamos-a-cole-o-galaxy {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 40px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 604px;
  top: 1131px;
}
.starlight-blue-nova-pink-e-galactic-purple-se-juntam-a-midnight-black-e-cosmic-red-para-formar-uma-deslumbrante-sele-o-interestelar-de-cores-para-o-controle-sem-fio-dual-sense {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 361px;
  top: 1207px;
}
.banner-playstation-controle-1-1-1 {
  width: 1870px;
  height: 938px;
  position: absolute;
  left: 0px;
  top: 1284px;
  object-fit: cover;
  aspect-ratio: 1870/938;
}
.rectangle-599 {
  background: linear-gradient(
    90deg,
    rgba(7, 70, 146, 1) 4.807692393660545%,
    rgba(6, 64, 139, 1) 25%,
    rgba(12, 143, 251, 1) 42.307692766189575%,
    rgba(12, 143, 251, 1) 75%,
    rgba(6, 59, 131, 1) 100%
  );
  width: 1871px;
  height: 80px;
  position: absolute;
  left: -1px;
  top: 982px;
}
.jogar-n-o-tem-limites {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 562px;
  top: 1034px;
}
.group-352 {
  width: 141px;
  height: 38px;
  position: static;
}
.rectangle-600 {
  background: linear-gradient(
    90deg,
    rgba(235, 240, 243, 1) 0%,
    rgba(181, 199, 228, 1) 100%
  );
  border-radius: 50px;
  width: 141px;
  height: 38px;
  position: absolute;
  left: 1217px;
  top: 1004px;
}
.compre-agora {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1262px;
  top: 1015px;
}
.compre-agora-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.compre-agora-span2 {
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}
.happy {
  width: 27px;
  height: 31px;
  position: absolute;
  left: 1231px;
  top: 1007px;
  object-fit: cover;
}
.group-353 {
  width: 180px;
  height: 51px;
  position: static;
}
.juros {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 1131px;
  top: 1011px;
}
.at {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 988px;
  top: 1011px;
}
._10-x {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 64px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 1017px;
  top: 1011px;
  width: 133px;
  height: 40px;
}
.sem {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 1132px;
  top: 1000px;
  width: 27px;
  height: 15px;
}
.magnetic-card {
  width: 20px;
  height: 15px;
  position: absolute;
  left: 1130px;
  top: 1027px;
  object-fit: cover;
}
.images-removebg-preview {
  width: 226px;
  height: 37px;
  position: absolute;
  left: 520px;
  top: 1001px;
  object-fit: cover;
  aspect-ratio: 226/37;
}
.controle-wite-removebg-preview-1 {
  width: 43.1px;
  height: 43.1px;
  position: absolute;
  left: 794.15px;
  top: 989.46px;
  transform-origin: 0 0;
  transform: rotate(36.578deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
._81-snw-iy-j-di-l-ac-sx-679-2 {
  width: 36px;
  height: 46px;
  position: absolute;
  left: 818px;
  top: 1019.41px;
  transform-origin: 0 0;
  transform: rotate(-20.168deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 36/46;
}
.console-playstation-removebg-preview-1 {
  width: 41px;
  height: 84px;
  position: absolute;
  left: 824.03px;
  top: 976px;
  transform-origin: 0 0;
  transform: rotate(31.609deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 41/84;
}
.r-450-07 {
  color: #55a143;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 36px;
  line-height: 16px;
  font-weight: 900;
  position: absolute;
  left: 966px;
  top: 355px;
}
.vista-no-pix-com-7-de-desconto {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 966px;
  top: 400px;
}
.vista-no-pix-com-7-de-desconto-span {
  font-family: "Inter-Regular", sans-serif;
}
.vista-no-pix-com-7-de-desconto-span2 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.r-499-00-em-at-10-x-de-r-49-90-sem-juros-ou-1-x-com-7-de-desconto-no-cart-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 966px;
  top: 445px;
}
.ver-mais-op-es-de-pagamento-e-parcelamento {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 966px;
  top: 522px;
}
.em-estoque {
  color: #40b856;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 966px;
  top: 593px;
}
.rectangle-609 {
  background: #55a143;
  border-radius: 10px;
  width: 390px;
  height: 38px;
  position: absolute;
  left: 966px;
  top: 628px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-610 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 390px;
  height: 38px;
  position: absolute;
  left: 966px;
  top: 676px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.comprar-agora {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 1096px;
  top: 638px;
}
.adicionar-ao-carrinho {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 1075px;
  top: 687px;
}
.m-iguel {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 56px;
  top: 3588px;
}
.m-iguel-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}
.m-iguel-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.star {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 56px;
  top: 3619px;
  object-fit: cover;
}
.star2 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 86px;
  top: 3619px;
  object-fit: cover;
}
.star3 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 116px;
  top: 3619px;
  object-fit: cover;
}
.star4 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 146px;
  top: 3619px;
  object-fit: cover;
}
.star5 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 176px;
  top: 3619px;
  object-fit: cover;
}
.aval-ado-em-04-10-2025 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 408px;
  top: 3646px;
}
.controle-ps-5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 56px;
  top: 3681px;
}
.rapidez-impressionante-na-entrega-menos-de-48-h-produto-original-e-exelente-qualidade-com-o-adaptador-funcionou-perfeitamente-no-ps-3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 56px;
  top: 3715px;
}
.facebook-like {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 66px;
  top: 3773px;
  object-fit: cover;
}
.rectangle-613 {
  background: #f2f3f4;
  border-radius: 5px;
  width: 80px;
  height: 24px;
  position: absolute;
  left: 56px;
  top: 3774px;
}
.til-0 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 87px;
  top: 3778px;
}
.m-iguel2 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 51px;
  top: 3870px;
}
.m-iguel-2-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}
.m-iguel-2-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.star6 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 51px;
  top: 3901px;
  object-fit: cover;
}
.star7 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 81px;
  top: 3901px;
  object-fit: cover;
}
.star8 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 111px;
  top: 3901px;
  object-fit: cover;
}
.star9 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 141px;
  top: 3901px;
  object-fit: cover;
}
.star10 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 171px;
  top: 3901px;
  object-fit: cover;
}
.aval-ado-em-04-10-20252 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 403px;
  top: 3928px;
}
.controle-ps-52 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 51px;
  top: 3963px;
}
.rapidez-impressionante-na-entrega-menos-de-48-h-produto-original-e-exelente-qualidade-com-o-adaptador-funcionou-perfeitamente-no-ps-32 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 51px;
  top: 3997px;
}
.facebook-like2 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 61px;
  top: 4055px;
  object-fit: cover;
}
.rectangle-614 {
  background: #f2f3f4;
  border-radius: 5px;
  width: 80px;
  height: 24px;
  position: absolute;
  left: 51px;
  top: 4056px;
}
.til-02 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 82px;
  top: 4060px;
}
.m-iguel3 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 1016px;
  top: 3320px;
}
.m-iguel-3-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}
.m-iguel-3-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.star11 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1016px;
  top: 3345px;
  object-fit: cover;
}
.star12 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1046px;
  top: 3345px;
  object-fit: cover;
}
.star13 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1076px;
  top: 3345px;
  object-fit: cover;
}
.star14 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1106px;
  top: 3345px;
  object-fit: cover;
}
.star15 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1136px;
  top: 3345px;
  object-fit: cover;
}
.aval-ado-em-04-10-20253 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1368px;
  top: 3350px;
}
.controle-ps-53 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 1016px;
  top: 3385px;
}
.rapidez-impressionante-na-entrega-menos-de-48-h-produto-original-e-exelente-qualidade-com-o-adaptador-funcionou-perfeitamente-no-ps-33 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1016px;
  top: 3419px;
}
.facebook-like3 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 1026px;
  top: 3465px;
  object-fit: cover;
}
.rectangle-615 {
  background: #f2f3f4;
  border-radius: 5px;
  width: 80px;
  height: 24px;
  position: absolute;
  left: 1016px;
  top: 3466px;
}
.til-03 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1047px;
  top: 3470px;
}
.m-iguel4 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 1016px;
  top: 3559px;
}
.m-iguel-4-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}
.m-iguel-4-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.star16 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1016px;
  top: 3584px;
  object-fit: cover;
}
.star17 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1046px;
  top: 3584px;
  object-fit: cover;
}
.star18 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1076px;
  top: 3584px;
  object-fit: cover;
}
.star19 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1106px;
  top: 3584px;
  object-fit: cover;
}
.star20 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1136px;
  top: 3584px;
  object-fit: cover;
}
.aval-ado-em-04-10-20254 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1368px;
  top: 3589px;
}
.controle-ps-54 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 1016px;
  top: 3624px;
}
.rapidez-impressionante-na-entrega-menos-de-48-h-produto-original-e-exelente-qualidade-com-o-adaptador-funcionou-perfeitamente-no-ps-34 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1016px;
  top: 3658px;
}
.facebook-like4 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 1026px;
  top: 3704px;
  object-fit: cover;
}
.rectangle-617 {
  background: #f2f3f4;
  border-radius: 5px;
  width: 80px;
  height: 24px;
  position: absolute;
  left: 1016px;
  top: 3705px;
}
.til-04 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1047px;
  top: 3709px;
}
.m-iguel5 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 1016px;
  top: 3809px;
}
.m-iguel-5-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}
.m-iguel-5-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.star21 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1016px;
  top: 3834px;
  object-fit: cover;
}
.star22 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1046px;
  top: 3834px;
  object-fit: cover;
}
.star23 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1076px;
  top: 3834px;
  object-fit: cover;
}
.star24 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1106px;
  top: 3834px;
  object-fit: cover;
}
.star25 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1136px;
  top: 3834px;
  object-fit: cover;
}
.aval-ado-em-04-10-20255 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1368px;
  top: 3839px;
}
.controle-ps-55 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 1016px;
  top: 3874px;
}
.rapidez-impressionante-na-entrega-menos-de-48-h-produto-original-e-exelente-qualidade-com-o-adaptador-funcionou-perfeitamente-no-ps-35 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1016px;
  top: 3908px;
}
.facebook-like5 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 1026px;
  top: 3954px;
  object-fit: cover;
}
.rectangle-618 {
  background: #f2f3f4;
  border-radius: 5px;
  width: 80px;
  height: 24px;
  position: absolute;
  left: 1016px;
  top: 3955px;
}
.til-05 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1047px;
  top: 3959px;
}
.footer {
  background: #55a143;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4171px;
}
.container11 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1870px;
  max-width: 1870px;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sua-loja-de-confian-a-para-produtos-de-alta-qualidade-e-atendimento-excepcional {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.links-r-pidos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.principal2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.sobre-n-s2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.loja {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.suporte2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.colecion-veis {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.games {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.acess-rios {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.vestu-rio {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.redes-sociais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.container15 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link3 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 9px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon5 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.icon6 {
  flex-shrink: 0;
  width: 22.22px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.horizontal-border {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-nerd-hub-todos-os-direitos-reservados {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.veja-as-avalia-es-dos-us-arios {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 39px;
  top: 3244px;
}
.rectangle-602 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 12px;
  border-style: solid;
  border-color: #9ca3af;
  border-width: 1px;
  width: 910px;
  height: 244px;
  position: absolute;
  left: 40px;
  top: 3293px;
}
.rectangle-605 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 12px;
  border-style: solid;
  border-color: #9ca3af;
  border-width: 1px;
  width: 910px;
  height: 244px;
  position: absolute;
  left: 40px;
  top: 3853px;
}
.rectangle-606 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 12px;
  border-style: solid;
  border-color: #9ca3af;
  border-width: 1px;
  width: 802px;
  height: 209px;
  position: absolute;
  left: 1003px;
  top: 3541px;
}
.rectangle-607 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 12px;
  border-style: solid;
  border-color: #9ca3af;
  border-width: 1px;
  width: 802px;
  height: 209px;
  position: absolute;
  left: 1003px;
  top: 3541px;
}
.rectangle-616 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 12px;
  border-style: solid;
  border-color: #9ca3af;
  border-width: 1px;
  width: 802px;
  height: 209px;
  position: absolute;
  left: 1008px;
  top: 3301px;
}
.rectangle-608 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 12px;
  border-style: solid;
  border-color: #9ca3af;
  border-width: 1px;
  width: 802px;
  height: 209px;
  position: absolute;
  left: 1003px;
  top: 3789px;
}
.m-iguel6 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 56px;
  top: 3311px;
}
.m-iguel-6-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}
.m-iguel-6-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.star26 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 146px;
  top: 3342px;
  object-fit: cover;
}
.star27 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 176px;
  top: 3342px;
  object-fit: cover;
}
.star28 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 56px;
  top: 3342px;
  object-fit: cover;
}
.star29 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 116px;
  top: 3342px;
  object-fit: cover;
}
.star30 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 86px;
  top: 3342px;
  object-fit: cover;
}
.aval-ado-em-04-10-20256 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 408px;
  top: 3369px;
}
.rectangle-611 {
  background: #f2f3f4;
  border-radius: 5px;
  width: 80px;
  height: 24px;
  position: absolute;
  left: 56px;
  top: 3497px;
}
.controle-ps-56 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 56px;
  top: 3404px;
}
.rapidez-impressionante-na-entrega-menos-de-48-h-produto-original-e-exelente-qualidade-com-o-adaptador-funcionou-perfeitamente-no-ps-36 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 56px;
  top: 3438px;
}
.til-06 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 87px;
  top: 3501px;
}
.facebook-like6 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 66px;
  top: 3496px;
  object-fit: cover;
}
.facebook-like7 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 66px;
  top: 3774px;
  object-fit: cover;
}
.facebook-like8 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 63px;
  top: 4057px;
  object-fit: cover;
}
.facebook-like9 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 1028px;
  top: 3955px;
  object-fit: cover;
}
.facebook-like10 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 1026px;
  top: 3705px;
  object-fit: cover;
}
.facebook-like11 {
  width: 13px;
  height: 25px;
  position: absolute;
  left: 1026px;
  top: 3466px;
  object-fit: cover;
}
.rectangle-604 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 12px;
  border-style: solid;
  border-color: #9ca3af;
  border-width: 1px;
  width: 910px;
  height: 244px;
  position: absolute;
  left: 42px;
  top: 3565px;
}
.rectangle-638 {
  background: rgba(85, 161, 67, 0.68);
  border-radius: 10px;
  width: 1869px;
  height: 640px;
  position: absolute;
  left: 0px;
  top: 2570px;
}
.controle-dual-sense-ps-5-branco {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 56px;
  top: 2691px;
}
.descri-o-do-produto {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 56px;
  top: 2603px;
}
.controle-dual-sense-ps-5-branco-imers-o-e-precis-o-na-pr-xima-gera-o-de-jogos {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 56px;
  top: 2652px;
}
.controle-dual-sense-ps-5-branco-imers-o-e-precis-o-na-pr-xima-gera-o-de-jogos-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.controle-dual-sense-ps-5-branco-imers-o-e-precis-o-na-pr-xima-gera-o-de-jogos-span2 {
  font-family: "Inter-ExtraBold", sans-serif;
  font-weight: 800;
}
.assuma-o-controle-de-uma-nova-era-de-jogos-com-o-controle-dual-sense-ps-5-branco-este-controle-sem-fio-n-o-apenas-oferece-um-design-avan-ado-de-dois-tons-que-combina-um-layout-ic-nico-e-intuitivo-mas-tamb-m-integra-tecnologias-revolucion-rias-para-uma-experi-ncia-de-jogo-verdadeiramente-imersiva {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 56px;
  top: 2718px;
  width: 1332px;
}
.resposta-t-til-sinta-o-jogo-em-suas-m-os-sinta-fisicamente-o-feedback-responsivo-de-suas-a-es-no-jogo-atrav-s-dos-atuadores-duplos-que-substituem-os-motores-tradicionais-em-suas-m-os-a-resposta-t-til-din-mica-simula-a-sensa-o-de-tudo-desde-diferentes-ambientes-at-o-recuo-de-diferentes-armas-no-ps-5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 56px;
  top: 2763px;
  width: 1730px;
}
.gatilhos-adapt-veis-for-a-e-tens-o-realistas-experimente-n-veis-vari-veis-de-for-a-e-tens-o-conforme-voc-interage-com-seu-equipamento-e-com-os-ambientes-do-jogo-os-gatilhos-adapt-veis-permitem-que-voc-sinta-fisicamente-a-a-o-desde-puxar-uma-corda-de-arco-cada-vez-mais-apertada-a-pisar-nos-freios-de-um-carro-de-corrida-sinta-se-fisicamente-conectado-s-a-es-que-acontecem-na-tela-levando-a-imers-o-a-um-novo-patamar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 57px;
  top: 2838px;
  width: 1524px;
}
.encontre-sua-voz-compartilhe-sua-paix-o-comunique-se-de-forma-clara-com-seus-amigos-online-usando-o-microfone-integrado-ou-conectando-seu-headset-ao-conector-de-3-5-mm-use-o-bot-o-exclusivo-de-ativa-o-desativa-o-do-recurso-de-captura-de-voz-com-facilidade-e-rapidez-e-compartilhe-seus-momentos-mais-picos-na-play-station-network {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 56px;
  top: 2922px;
  width: 1195px;
}
.eleve-o-seu-jogo-em-dispositivos-apple-a-versatilidade-do-controle-dual-sense-se-estende-para-al-m-do-ps-5-ele-emparelhado-diretamente-com-seu-i-pad-i-phone-mac-ou-apple-tv-compat-vel-via-bluetooth-aproveite-o-conforto-caracter-stico-do-play-station-e-a-precis-o-da-pr-xima-gera-o-para-a-sua-experi-ncia-de-jogo-em-dispositivos-apple-voc-pode-at-mesmo-utilizar-o-touch-pad-e-o-sensor-de-movimento-e-experimentar-os-efeitos-dos-gatilhos-adapt-veis-em-jogos-compat-veis {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 58px;
  top: 3005px;
  width: 1728px;
}
.dispon-vel-quando-o-jogo-oferecer-compatibilidade-com-o-recurso-requer-conex-o-com-a-internet-e-conta-na-play-station-network-para-conversar-online-compat-vel-com-dispositivos-com-mac-os-11-3-i-os-14-5-i-pad-os-14-5-tv-os-14-5-ou-mais-recente-compre-agora-no-nerd-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 57px;
  top: 3069px;
  width: 928px;
}
.frame-286 {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  width: 2534px;
  position: absolute;
  left: 13px;
  top: 2240px;
}
.frame-284 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
._20-off {
  color: #ffffff;
  text-align: left;
  font-family: "Lalezar-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 131px;
  top: 273px;
  width: 52px;
  height: 15px;
}
.rectangle-55 {
  background: #ffffff;
  border-radius: 12px;
  width: 214px;
  height: 311px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.console-play-station-5-pro {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.r-371-91 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.controle-sony-dualsense-ps-5-sem-fio-chroma-indigo-1762779753-m {
  width: 194px;
  height: 193px;
  position: absolute;
  left: 10px;
  top: 20px;
  object-fit: cover;
  aspect-ratio: 194/193;
}
.play-station3 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 14px;
  object-fit: cover;
}
.frame-282 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-sony-dual-sense-ps-5-sem-fio-chroma-teal {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.r-418-41 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.controle-sony-dualsense-ps-5-sem-fio-chroma-teal-1762780478-m {
  width: 208px;
  height: 208px;
  position: absolute;
  left: 211px;
  top: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.play-station4 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 13px;
  top: 14px;
  object-fit: cover;
}
.frame-281 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-sony-dual-sense-ps-5-sem-fio-chroma-pearl {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.controle-sony-dualsense-ps-5-sem-fio-chroma-pearl-1762780237-m {
  width: 192px;
  height: 192px;
  position: absolute;
  left: 203px;
  top: 21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.play-station5 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 12px;
  top: 14px;
  object-fit: cover;
}
.frame-209 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-sem-fio-dual-sense-play-station-5-volcanic-red {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.r-450-00 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.controle-sony-dualsense-ps-5-sem-fio-volcanic-red-1762781451-m {
  width: 188px;
  height: 188px;
  position: absolute;
  left: 199px;
  top: 18px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-208 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-ps-5-edi-o-limitada-anivers-rio-de-30-anos-sony {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.controle-sony-dualsense-ps-5-sem-fio-cosmic-red-1761238238-m {
  width: 188px;
  height: 188px;
  position: absolute;
  left: 201px;
  top: 25px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-210 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-sem-fio-dual-sense-play-station-5-cobalt-blue {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.controle-sony-dualsense-ps-5-sem-fio-cobalt-blue-1762780718-m {
  width: 176px;
  height: 176px;
  position: absolute;
  left: 192px;
  top: 23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.play-station6 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 10px;
  object-fit: cover;
}
.frame-283 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-sony-dual-sense-ps-5-sem-fio-midnight-black {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.controle-sony-dualsense-ps-5-sem-fio-midnight-black-1762781772-m {
  width: 204px;
  height: 159px;
  position: absolute;
  left: 5px;
  top: 40px;
  object-fit: cover;
  aspect-ratio: 204/159;
}
.controle-sony-dual-sense-ps-5-sem-fio-galactic-purple-3006456 {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 188px;
  height: 50px;
}
.r-360-75 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.controle-sem-fio-sony-ps-5-dualsense-galactic-purple-3006456-1639498915-m {
  width: 214px;
  height: 207px;
  position: absolute;
  left: 0px;
  top: 11px;
  object-fit: cover;
  aspect-ratio: 214/207;
}
.play-station7 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 11px;
  object-fit: cover;
}
.controle-sony-dual-sense-ps-5-sem-fio-starlight-blue {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.controle-sem-fio-sony-ps-5-dualsense-starlight-blue-3006454-1639496265-m {
  width: 207px;
  height: 207px;
  position: absolute;
  left: 3px;
  top: 11px;
  object-fit: cover;
  aspect-ratio: 1;
}
.play-station8 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 12px;
  object-fit: cover;
}
.play-station-portal-reprodutor-remoto {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 218px;
  width: 149px;
  height: 50px;
}
.r-1-549-99 {
  color: #529742;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 268px;
  width: 136px;
}
.group-156 {
  height: auto;
  position: absolute;
  left: 3px;
  top: 5px;
  overflow: visible;
}
.frame-2862 {
  border-radius: 12px;
  flex-shrink: 0;
  width: 214px;
  height: 311px;
  position: relative;
}
.controle-sony-access-dualsense-ps-5-sem-fio-branco-cfi-zac-1-1689881439-m {
  width: 180px;
  height: 114px;
  position: absolute;
  left: 196px;
  top: 63px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 180/114;
}
